{% extends "base.html" %}
{% load verbatim %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/metrics/metrics.css">
{% endblock %}

{% block js %}
<!-- <script src='//www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1","packages":["corechart"],"callback": "onGoogLoad"}]}'></script> -->
<script src='//www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1","packages":["corechart"]}]}'></script>
<!-- <script src="https://www.google.com/jsapi"></script> -->
<script src="/static/js/metrics/featurelevel.js"></script>
{% endblock %}


{% block subheader %}
<div id="subheader">
  <h2>CSS Property Usage > Timeline</h2>
</div>
{% endblock %}

{% block content %}

{% include "metrics/_nav.html" %}

<section >
<select id="property-selector" onchange="goToChart('property-selector')">
  {% for key, value in CSS_PROPERTY_BUCKETS.items %}
    <option value="{{key}}">{{value}}</option>
  {% endfor %}
</select>
<p>Use of CSS properties over time. Statistics excluding the user agent style sheet to come soon!</p>

{% verbatim %}
<div id="chart-container" style="width:900px;margin: 0 auto;">  
  <div id="chart"></div>
</div>
</section>
{% endverbatim %}

{% endblock %}
