{% extends "base.html" %}
{% load verbatim %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/metrics/metrics.css">
{% endblock %}

{% block js %}
<script src="/static/js/metrics/stackrank.js"></script>
{% endblock %}

{% block html_imports %}
  <link rel="import" href="/static/elements/chromedash-metrics.html">
{% endblock %}

{% block subheader %}
<div id="subheader">
  <h2>CSS Property Usage &gt; Stack Rank</h2>
</div>
{% endblock %}

{% block content %}

{% verbatim %}
{% endverbatim %}

<section id="panels">
{% include "metrics/_nav.html" %}
<div class="data-panel">
  <p class="description">CSS Properties in order of popularity. Values reflect the % of
    surveyed pages in the last 24hrs which use each property.</p>
  <chromedash-metrics></chromedash-metrics>
</div>
</section>

{% endblock %}
