{% extends "base.html" %}
{% load verbatim %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/metrics/metrics.css">
{% endblock %}

{% block html_imports %}
  <link rel="import" href="/static/elements/chromedash-timeline.html">
{% endblock %}

{% block js %}
<!-- <script src='//www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1","packages":["corechart"],"callback": "onGoogLoad"}]}'></script> -->
<!-- Load charts api outside of chromedash-timeline until
     https://github.com/Polymer/polymer-elements/issues/26 is fixed. -->
<script src='//www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1","packages":["corechart"]}]}'></script>

<!-- <script src="/static/js/metrics/featurelevel.js"></script> -->
{% endblock %}

{% block subheader %}
<div id="subheader">
  <h2>CSS Property Usage &gt; Timeline</h2>
</div>
{% endblock %}

{% block content %}
<section id="panels">
{% include "metrics/_nav.html" %}
<div class="data-panel">
  <p class="description">Use of CSS properties over time. <b>Note:</b> these statistics include the user agent stylesheet</p>
  <chromedash-feature-timeline></chromedash-feature-timeline>
</div>
</section>

<script>
document.addEventListener('WebComponentsReady', function(e) {
  var timeline = $('chromedash-feature-timeline');
  timeline.cssProperties = {{CSS_PROPERTY_BUCKETS|safe}};

  window.addEventListener('popstate', function(e) {
    if (e.state) {
      timeline.selectedBucketId = e.state.id;
    }
  });
});
</script>
{% endblock %}
