@import "vars";

body {
  &:not(.ready) #content:after {
    font-weight: normal;
    content: 'loading...';
    color: #bbb;
    left: 0;
    position: absolute;
    top: 0;
    background: rgba(255,255,255,0.5);
    border: 1px dashed #bbb;
    border-radius: $default-border-radius;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    z-index: 100;
  }
}