@import "compass/css3/transform";

@import "vars";

#content {
  &.ready::after {
    display: none;
  }

  &::after {
    font-size: 18px;
    font-weight: normal;
    content: 'loading...';
    color: $gray-3;
    top: 0;
    left: 0;
    position: absolute;
    background: white;
    border: 1px dashed #bbb;
    border-radius: $default-border-radius;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    z-index: 100;
  }

  &.error::after {
    content: 'Error loading features list.';
    color: darkred;
  }
}

chromedash-legend {
  // width: 900px;
  // @include calc(left, '50% - 900px/2');
  // top: 3%;
  // //opacity: 0; // Ensure no FOUC.
  font-size: 90%;

  .description {
    margin-bottom: 10px;
  }
}

#panels {
  nav {
    $nav-width: 150px;

    font-size: 120%;
    font-weight: 300;
    //width: $nav-width; // slighty smaller than chromedash-metadata to remove scrollbar
    overflow-x: hidden;

    chromedash-metadata {
      //max-height: 65vh;
      overflow: auto;
      width: $nav-width + 15;

      @include transform(translateZ(0)); // force composite layer in stable

      .help {
        text-align: center;
      }
    }
  }

  chromedash-featurelist {
    @include flex(1 0 0);
    // overflow: auto;
    max-width: $max-content-width;
  }
}

#subheader {
  paper-button {
    color: $chromium-color-dark;
  }
}

@media only screen and (max-width: 700px) {
  #content {
    height: 100%;
    margin: 0;
  }
  chromedash-featurelist {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
