@import "../vars";

/* Fix a bug. Left align the right side list and the header.
 * TODO: Find out why it happens, and fix the root cause. */
app-drawer-layout:not([narrow]) app-header-layout {
  margin-left: -60px;
}

#content {
  // &.ready {
  //   #spinner {
  //     display: none;
  //   }
  // }

  &.error::after {
    content: 'Error loading features list.';
    color: darkred;
  }
}

app-drawer {
  h3 {
    margin-left: $content-padding / 2;
  }
}

button {
  background: transparent;
  border: 0;
}

.legend-button {
  color: #4580c0;
}

chromedash-legend {
  font-size: 90%;

  .description {
    margin-bottom: 10px;
  }
}

chromedash-featurelist {
  max-width: $max-content-width;
  margin-bottom: 54px + $content-padding * 2; // bottom bar + some.
}

#subheader {
  .feature-count {
    min-width: 170px;
  }
  .actionlinks {
    .blue-button {
      margin-left: 4px;
    }
  }
}

@media only screen and (min-width: 701px) {
  #content {
    &::after {
      width: $max-content-width;
    }
  }
}

@media only screen and (max-width: 700px) {
  #subheader {
    margin: $content-padding / 2;
    width: initial;

    div.actionlinks {
      flex: 1 0 0;
      span {
        display: none;
      }
    }
  }
}
