@import "../vars";

#feature {
  @include gradient-bar-bg;
  border-radius: $default-border-radius;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-bottom: $content-padding + 100; // padding + height of footer.
  max-width: $max-content-width;
}

#name {
  display: flex;
  align-items: center;

  h2 {
    margin-right: 1em;
    font-size: 28px;
  }

  .category {
    color: $gray-2;
  }
}

section {
  margin-bottom: 1em;

  h3 {
    margin: 24px 0 12px;
  }

  label {
    font-weight: 500;
    margin-right: 5px;
  }
}

/* TODO(iclelland): DRY - factor this style out of here and
 * chromedash-feature.scss into somewhere common.
 */
iron-icon {
  --iron-icon-height: 20px;
  --iron-icon-width: 20px;

  &.android {
    color: #A4C739;
  }
  &.experimental {
    color: #388E3C;
  }
}
.iconrow {
  display: flex;
  align-items: center;
}

.topcorner {
  .tooltip {
    margin-left: 8px;
  }
}

#consensus {
  li {
    display: flex;
    label {
      width: 125px;
    }
  }
}

.note {
  font-style: italic;
}

@media only screen and (max-width: 700px) {
  #feature {
    border-radius: 0 !important;
    margin: 7px initial !important;
  }
}

@media only screen and (min-width: 701px) {
  #feature {
    padding: 30px 40px;
  }
}

#feature ul {
  list-style-position: inside;
  list-style: none;
}
