@import "../vars";

#content {
  // &.ready {
  //   #spinner {
  //     display: none;
  //   }
  // }

  &.error::after {
    content: 'Error loading features list.';
    color: darkred;
  }
}

app-drawer {
  h3 {
    margin-left: $content-padding / 2;
  }
}

chromedash-legend {
  font-size: 90%;

  .description {
    margin-bottom: 10px;
  }
}

chromedash-featurelist {
  max-width: 745px;
  margin-bottom: 54px + $content-padding * 2;
}

#subheader {
  paper-button {
    color: $chromium-color-dark;
    background: #fff;
  }

  .feature-count {
    min-width: 170px;
  }
}

@media only screen and (min-width: 701px) {
  #content {
    &::after {
      width: $max-content-width;
    }
  }
}
