@import "../vars";

#content {
  // &.ready {
  //   #spinner {
  //     display: none;
  //   }
  // }

  &.error::after {
    content: 'Error loading features list.';
    color: darkred;
  }
}

#content-component-wrapper {
  width: auto;
}

#column-container {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

#drawer-column {
  padding: 1em 2em 1em 1em;
  margin-left: 8px;
}

#content-column {
  flex: 1;
  padding-left: 2em;
}

app-drawer {
  h3 {
    margin-left: $content-padding / 2;
  }
}

button {
  background: transparent;
  border: 0;
}

.legend-button {
  color: $material-primary-button;
}

chromedash-legend {
  font-size: 90%;

  .description {
    margin-bottom: 10px;
  }
}

chromedash-featurelist {
  max-width: $max-content-width;
}

#subheader {
  .feature-count {
    min-width: 170px;
  }
  .actionlinks {
    .blue-button {
      margin-left: 4px;
    }
  }
}

@media only screen and (max-width: 1100px) {
  #column-container {
    flex-direction: column;
  }

  #content-column {
    padding-left: var(--content-padding-half);
    padding-right: var(--content-padding-half);
  }

  #drawer-column {
    padding: 0;
  }

  #subheader {
    width: initial;

    div.actionlinks {
      flex: 1 0 0;
      span {
        display: none;
      }
    }
  }
}
