@import "../vars";

#content {
  flex-direction: column;
  counter-reset: h3;
  height: auto;

  section {
    max-width: 600px;
    flex: 1 0 auto;
    margin-bottom: 15px;

    > div {
      background: $card-background;
      border: $card-border;
      box-shadow: $card-box-shadow;
      padding: 12px;
      margin: 8px 0 16px 0;
    }

    > p {
      color: #444;
    }
  }

  h3 {
    margin-bottom: 10px;
    &:before {
      counter-increment: h3;
      content: counter(h3) ".";
      margin-right: 5px;
    }
  }
}
.subject {
  font-size: 16px;
  margin-bottom: 10px;
}

.email {
  .help {
    font-style: italic;
    color: #aaa;
  }

  h4 {
    font-weight: 600;
  }
}
