@import "../vars";

#content {
  flex-direction: column;
  counter-reset: h3;
  height: auto;
  margin-bottom: 86px;

  > section {
    max-width: 600px;
    flex: 1 0 auto;
    margin-bottom: 15px;

    > div {
      background: rgba(255,255,255,0.8);
      border-radius: $default-border-radius;
      margin-top: 5px;
    }

    > p {
      color: #666;
    }
  }

  h3 {
    margin-bottom: 10px;
    &:before {
      counter-increment: h3;
      content: counter(h3) ".";
      margin-right: 5px;
    }
  }
}
.subject {
  font-size: 16px;
  margin-bottom: 10px;
}

.email {
  .help {
    font-style: italic;
    color: #aaa;
  }

  h4 {
    font-weight: 600;
  }
}
