openapi: 3.0.0
info:
  description: "The API for chromestatus.com. chromestatus.com is the official tool\
    \ used for tracking feature launches in Blink (the browser engine that powers\
    \ Chrome and many other web browsers). This tool guides feature owners through\
    \ our launch process and serves as a primary source for developer information\
    \ that then ripples throughout the web developer ecosystem. More details at: https://github.com/GoogleChrome/chromium-dashboard"
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: chomestatus API
  version: 1.0.0
servers:
- url: /api/v0
paths:
  /componentsubscribers:
    get:
      operationId: componentsubscribers_get
      responses:
        "200":
          description: OK
      x-openapi-router-controller: chromestatus_openapi.controllers.default_controller
components:
  schemas: {}
