@import "compass/css3/images";

@import "vars";

#subheader {
  display: block;
}

.data-panel {
  max-width: 800px;
  margin-left: 20px;
  overflow: auto;

  .description {
    margin-bottom: 1em;
  }
}

.metric-nav {
  text-align: center;
  width: 150px;

  li {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    @include background($bar-gradient);
    box-shadow: 1px 1px 4px $bar-shadow-color;
    padding: 0.5em;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 700px) {

}