@import "compass/css3/images";
@import "compass/css3/transform";

@import "vars";

#content {
  h3 {
    margin-bottom: 10px;
  }
}

#subheader {
  display: block;
}

.data-panel {
  max-width: 800px;
  margin-left: 20px;
  overflow: auto;
  @include transform(translateZ(0)); // force composite layer in stable

  .description {
    margin-bottom: 1em;
  }
}

.metric-nav {
  // min-width: 175px;
  // @include flex(1 1 175px);

  h3 {
    &:not(:first-of-type) {
      margin-top: 2em;
    }
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: $chromium-color-dark;
  }

  li {
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    @include background($bar-gradient);
    box-shadow: 1px 1px 4px $bar-shadow-color;
    padding: 0.5em;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 700px) {
  #subheader {
    margin: 15px 0;
    text-align: center;
  }
  .data-panel {
    margin: 0 10px;
  }
}