{
  // "assumptions": {
  //   "setPublicClassFields": true
  // },
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": [
    // ["@babel/plugin-proposal-decorators", {
    //   "version": "2018-09",
    //   "decoratorsBeforeExport": true
    // }],
    ["@babel/plugin-proposal-class-properties"]
  ]
}
