
# Also see requirements.dev.txt

# Py3 Libraries
Django==2.2.25
funcsigs
google-python-cloud-debugger
google-cloud-tasks
google-cloud-ndb
google-cloud-logging
google-auth==1.24.0
requests

# TODO(jrobbins): Update to a 2.x version of flask, which may require source
# code changes.
Flask==1.1.2
funcsigs==1.0.2
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
click==7.1.2
itsdangerous==1.1.0

# Work-around for failure to deploy
# https://stackoverflow.com/questions/69936420/google-cloud-platform-app-deploy-failure-due-to-pyparsing
pyparsing==2.4.7
