
# Also see requirements.dev.txt

# Py3 Libraries
appengine-python-standard>=1.0.0
html5lib==1.1
Django==3.2.13
funcsigs==1.0.2
google-python-cloud-debugger==2.18
google-cloud-tasks==2.7.0
google-cloud-ndb==1.11.1
google-cloud-logging==3.0.0
google-auth==1.31.0
requests==2.27.1

# TODO(jrobbins): Update to a 2.x version of flask, which may require source
# code changes.
Flask==1.1.2
flask-cors==3.0.10
funcsigs==1.0.2
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
click==7.1.2
itsdangerous==1.1.0

# Work-around for failure to deploy
# https://stackoverflow.com/questions/69936420/google-cloud-platform-app-deploy-failure-due-to-pyparsing
pyparsing==2.4.7
