# This file is also processed when you run `npm run deps` on your workstation,
# but these libraries will not be install when running on GAE.  These packages
# are not needed on GAE because they are only for local development, or GAE
# provides its own copy.

coverage==5.5
gunicorn==20.1.0
