# This file is also processed when you run `npm run deps` on your workstation,
# but these libraries will not be install when running on GAE.  These packages
# are not needed on GAE because they are only for local development, or GAE
# provides its own copy.

coverage==7.14.0
gunicorn==25.3.0

# Mypy and dependencies
mypy==1.20.2
types-protobuf
types-redis
types-requests
types-setuptools
types-pytz
pytest==9.0.3
pytest-xdist==3.8.0
requests==2.33.1
ruff
