# This file is also processed when you run `npm run deps` on your workstation,
# but these libraries will not be install when running on GAE.  These packages
# are not needed on GAE because they are only for local development, or GAE
# provides its own copy.

coverage==7.11.0
gunicorn==23.0.0

# Mypy and dependencies
mypy==1.18.2
types-protobuf
types-redis
types-requests
types-setuptools
types-pytz
