
# Also see requirements.dev.txt

# Py3 Libraries
Django==1.11.29
funcsigs
google-python-cloud-debugger
google-cloud-tasks
google-cloud-ndb
google-cloud-logging

# These are some libraries used indirectly below.  Pin them to versions that
# work on python 2.7.
# TODO(jrobbins): Eliminate these once we are on py3.
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
click==7.1.2
itsdangerous==1.1.0

# Py2 Libraries
mock==3.0.5
Flask==1.1.2

# Required for porting Python2 to Python3
requests==2.25.1

# Work-around for failure to deploy
# https://stackoverflow.com/questions/69936420/google-cloud-platform-app-deploy-failure-due-to-pyparsing
pyparsing==2.4.7
