@import "compass/css3/images";
@import "compass/css3/transition";

@import "shared";
@import "vars";

$feature-min-height: 75px;

* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  font: inherit;
  text-decoration: inherit;
  //outline: 5px solid transparent;
  //@include transition(outline 200ms ease-in-out);
}

:focus {
  // outline: 1px solid $chromium-color-medium;
  z-index: 1;
}

@mixin tooltip {
  content: attr(title) ""; // force to be a string for FF/Safari.
  position: absolute;
  @include gradient-bar-bg;
  box-shadow: 2px 2px 4px $gray-2;
  border: 1px solid $gray-1;
  z-index: 100;
  text-align: center;
  color: $default-font-color;
}

// .tooltip {
//   &:before {
//     @include tooltip;
//   }
// }
