@import "compass/css3/images";

@import "vars";

// * {
//   box-sizing: border-box;
// }

@mixin tooltip {
  content: attr(title) ""; // force to be a string for FF/Safari.
  position: absolute;
  @include gradient-bar-bg;
  box-shadow: 2px 2px 4px $gray-2;
  border: 1px solid $gray-1;
  z-index: 100;
  text-align: center;
}

// .tooltip {
//   &:before {
//     @include tooltip;
//   }
// }
