@import "element";

span {
  background-color: rgb(255,0,0);
  border-radius: 50%;
  display: inline-block;
  height: 10px; // Default.
  width: 10px; // Default.
}

:host(.corner) {
  height: 100%;
  #status {
    border-radius: 0;
    height: 100%; // Ensures we can color coverage when feature is scrolled.
    width: 4px;
  }
}

:host(.bottom) {
  height: 8px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  #status {
    border-radius: 0;
    height: 100%;
    width: 100%;
  }
}
