@import "element";

:host {
  display: block;
  flex: 1;
  width: $max-content-width;
}

:host label {
  margin-left: 8px;
  cursor: pointer;
}

#chart {
  margin-top: 15px;
  width: 100%;
  height: 400px;
  background: $gray-1;
  border-radius: $default-border-radius;
}

#httparchivedata {
  border: 0;
  width: 100%;
  height: 400px;
}

.header_title {
  margin: 32px 0 15px 0;
}

.description {
  margin: 15px 0;
}

.callout {
  padding: $content-padding;
  margin-top: $content-padding;
  background-color: $md-yellow-100;
  border-color: rgba(27,31,35,0.15);
  line-height: 1.4;
}
