@import "element";

:host {
  display: block;
  flex: 1;
  padding: 1px;
}

#stack-rank-list {
  margin: 0;
  li {
    margin: 0;
    padding: 5px 0;
    display: flex;
    align-items: center;

    &[hidden] {
      display: none;
    }

    label {
      font-weight: 600;
    }

    > :first-child {
      flex: 1;
      margin-right: 10px;
    }

    > :nth-child(2) {
      flex: 2;
    }

    &.header {
      margin-bottom: 10px;

      label {
        color: $chromium-color-dark;
        text-transform: uppercase;
        background: $gray-1;
        border-radius: $default-border-radius;
        padding: 5px 7px;
        font-family: inherit;
        cursor: pointer;
        white-space: nowrap;
        display: flex;
        align-items: center;
      }
    }

    &:not(.header) {
      label {
        &:first-child {
          text-align: right;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      x-meter {
        padding-left: 7px;
        cursor: pointer;
      }
    }
  }
}

.loading {
  font-style: italic;
  color: $gray-2;
  justify-content: center;
}
