@import "element";

:host {
  display: block;
  position: absolute;
}

paper-dialog {
  width: 80vw;
  padding: 0 24px;
}

h3 {
  border-bottom: 2px solid $chromium-color-center;
  padding-bottom: 10px;
  margin-bottom: $content-padding / 2;
}

ul {
  margin: 0 0 15px 0;

  > li {
    margin: 5px 0;
  }
}

label {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

section {
  margin-top: 10px;

  &.views {
    @include display-flex;
    > div {
      @include flex(1 0 0);
    }
  }
}

.queries {
  li {
    span {
      margin-right: 5px;
      width: 200px;
      display: inline-block;
    }
  }
}

p {
  margin-top: 5px;
}

.content-wrapper ::content .close {
  position: absolute;
  right: 0;
  top: 0;
  // padding: 0 5px 3px 5px;
}
