@import "../vars";

:host {
  display: block;
}

#versionlist {
  background-color: inherit;
  color: $chromium-color-dark;
  padding: 0;
  margin: 0;

  &.canaryisdev {
    li {
      &:nth-of-type(4)::after {
        content: 'canary/dev';
      }
      &:nth-of-type(5)::after {
        content: 'beta';
      }
      &:nth-of-type(6)::after {
        content: 'stable';
      }
      &:nth-of-type(7)::after {
        content: '';
      }
    }
  }

  &.betaisdev {
    li, paper-item {
      &:nth-of-type(4)::after {
        content: 'canary';
      }
      &:nth-of-type(5)::after {
        content: 'dev/beta';
      }
      &:nth-of-type(6)::after {
        content: 'stable';
      }
      &:nth-of-type(7)::after {
        content: '';
      }
    }
  }

  li {
    cursor: pointer;
    list-style: none;
    padding: $content-padding / 4 0;

    &::before {
      content: '';
      margin-right: $content-padding / 2;
      border-left: 2px solid transparent;
    }
    &::after {
      margin-left: $content-padding / 2;
    }

    &:nth-of-type(3) {
      border-bottom: 1px solid $bar-border-color;
      padding-bottom: $content-padding / 2;
      margin-bottom: $content-padding / 2;
    }
    &:nth-of-type(4)::after {
      content: 'canary';
    }
    &:nth-of-type(5)::after {
      content: 'dev';
    }
    &:nth-of-type(6)::after {
      content: 'beta';
    }
    &:nth-of-type(7)::after {
      content: 'stable';
    }

    &[selected] {
      font-weight: bold;
      color: $chromium-color-dark;
      &::before {
        border-color: $chromium-color-dark;
      }
    }
  }
}

.error {
  font-weight: 500;
  font-style: italic;
  margin: 100px 0 0 5px;
  color: darkred;
}

