@import "element";

:host {
  display: block;
  padding: 5px;
}

.milestone-marker {
  $milestone-label-size: 14px;
  text-align: right;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: 600;
  font-size: $milestone-label-size;
  color: $chromium-color-dark;
}

// [data-first-of-milestone] {
//   $milestone-label-size: 14px;
//   text-align: right;
//   text-transform: uppercase;
//   margin-top: 10px;
//   font-weight: 600;
//   font-size: $milestone-label-size;
//   color: $chromium-color-dark;

//   // This one rule cases recalcstyle hot path in Blink. Invalidates all siblings.
//   // &:first-of-type {
//   //   margin-top: $milestone-label-size + 2;
//   // }

//   &:after {
//     content: attr(data-milestone) ""; // force string for FF
//   }

// }

@media only screen and (max-width: 700px) {
  [data-first-of-milestone] {
    $milestone-label-size: 12px;
    &:after {
      font-size: $milestone-label-size;
      font-weight: normal;
      top: -$milestone-label-size - 10;
      opacity: 1;
      text-transform: uppercase;
    }
  }
}
