@import "element";

#sample-panel {
  position: relative;
  max-width: 750px;
}

#samplelist {
  li {
    margin-bottom: $content-padding;
    line-height: 1.4;
    list-style: none;
  }
  .card {
    background: #fff;
    padding: $content-padding;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
  iron-icon {
    color: $gray-2;
    flex-shrink: 0;
  }
}

.feature-name {
  font-weight: 400;
  color: $chromium-color-dark;
  display: flex;
  justify-content: space-between;

}

.sample_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.milestone {
  font-size: 16px;
  white-space: nowrap;
  color: $gray-3;
}

.summary {
  margin: $content-padding 0;
}

.demo-links {
  margin-right: $content-padding;
  font-weight: 400;
  color: $chromium-color-dark;
  display: flex;
  flex-wrap: wrap;
}

.demo-link {
  background-color: #F5F5F5;
  margin: 8px 8px 0 0;
  color: $gray-3;
  display: block;
  padding: 0.7em 0.57em;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
  }
}
