@import "element";

:host {
  display: block;
}

// See https://crbug.com/553278
#ironlist {
  min-height: 0;
}

.milestone-marker {
  $milestone-label-size: 18px;
  text-align: right;
  text-transform: uppercase;
  margin: 32px 0 8px 0;
  font-size: $milestone-label-size;
  color: $chromium-color-dark;
  -webkit-font-smoothing: initial;
}

.item {
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .milestone-marker {
    font-size: 14px;
    font-weight: 500;
    margin: 8px;
  }
  [data-first-of-milestone] {
    $milestone-label-size: 12px;
    &:after {
      font-size: $milestone-label-size;
      font-weight: normal;
      top: -$milestone-label-size - 10;
      opacity: 1;
      text-transform: uppercase;
    }
  }
}
