@import "element";

:host {
  @include display-flex;
  @include gradient-bar-bg;
  position: relative;
  border-radius: $default-border-radius;
  padding: 10px 20px !important;
  list-style: none;
  box-sizing: border-box;

  &:active {
    outline: none;
  }
}

:host([open]) {
  // overflow: auto;
  outline: none;

  .desc summary {
    white-space: normal;
  }
}

[hidden] {
  display: none !important;
}

h2 {
  display: inline-block;
  font-size: 25px;
  @include flex(1 0 0);
}

iron-icon {
  --iron-icon-height: 20px;
  --iron-icon-width: 20px;

  &.android {
    color: #A4C739;
  }
  &.remove {
    color: var(--paper-red-700);
  }
  &.deprecated {
    color: var(--paper-orange-700);
  }
  &.experimental {
    color: var(--paper-green-700);
  }
}

.opennew {
  width: 18px;
  height: 18px;
}

.editfeature {
  color: $chromium-color-center;
}

.main-content-area {
  @include flex(1 0 0);
  margin-right: 12px;
  overflow: hidden;
}

.open-standalone {
  position: absolute;
  right: 0;
  top: 0;
  @include display-flex;
  @include align-items(center);
  height: 100%;
  border-left: 2px solid #eee;
  padding: 4px;
}

.iconrow {
  @include display-flex;
  @include align-items(center);
}

.topcorner {
  .tooltip {
    margin-left: 8px;

    &:hover, &:active {
      &:before {
        @include tooltip;
        top: 35px;
        right: 20px;
        width: auto;
        white-space: nowrap;
      }
    }
  }
}

hgroup {
  @include display-flex;
  @include align-items(flex-start);
  cursor: pointer;

  .category {
    color: $gray-2;
  }

  chromedash-color-status {
    position: absolute;
    top: 0;
    left: 0;

    &:hover, &:active {
      &:before {
        @include tooltip;
        top: 50%;
        margin: -30px auto;
        left: 25px;
        width: 275px;
      }
    }
  }
}

section {
  margin: 18px 0;

  &.desc {
    margin: 10px 0 0 0;
    cursor: pointer;
    color: $gray-3;
    line-height: 20px;

    summary {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  h3 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 400;
  }

  div {
    > span {
      @include flex-shrink(0);
    }
  }

  .impl_status {
    @include display-flex;
    @include flex-direction(column);

    > span {
      @include display-flex;
      @include justify-content(space-between);
      padding: 8px;

      &:nth-of-type(odd) {
        background: #eee;
      }
    }

    .chrome_desktop, .chrome_android, .chrome_webview {
      &.tooltip {
        position: relative;
        &:hover, &:active {
          &:before {
            @include tooltip;
            top: -50px;
            left: 20px;
            width: 225px;
          }
        }
      }
    }
  }

  .views {
    @include display-flex;
    @include flex-wrap(wrap);

    .view {
      @include display-flex;
      @include align-items(center);
      position: relative;
      height: 35px;
      background: #eee;
      margin: 0 8px 16px 0;
      padding: 8px;

      &.tooltip {
        &:hover, &:active {
          &:before {
            @include tooltip;
            top: -50px;
            left: 20px;
            width: 150px;
          }
        }
      }
    }

    .standardization {
      .vendor-view {
        margin-left: 0;
      }
    }

    iron-icon {
      margin: 0 8px;
    }

    .vendor-view {
      background: url(/static/img/browsers-logos.png) no-repeat;
      background-size: cover;
      height: 16px;
      margin: 8px;
      display: inline-block;
    }

    .opera-view {
      .vendor-view {
        background-position: -60px 50%;
        width: 17px;
      }
      &:hover, &:active {
        &:before {
          width: 210px !important;
          left: -80px !important;
        }
      }
    }

    .edge-view {
      background-position: -80px 50%;
      width: 16px;
    }
    .safari-view {
      background-position: -20px 50%;
      width: 17px
    }
    .ff-view {
      background-position: -40px 50%;
      width: 17px;
    }
    .w3c-view {
      background-position: -99px 50%;
      width: 22px;
    }
    .webdev-view {
      &:hover, &:active {
        &:before {
          left: -80px !important;
          width: 160px !important;
        }
      }
    }
  }

  chromedash-color-status {
    // width: 3px;
    overflow: hidden;

    &.bottom {
      margin-top: 3px;
    }
  }

  .owner-list {
    @include display-flex;
    @include flex-direction(column);
    @include align-items(flex-end);

    a {
      display: block;
    }
  }

  .comments html-echo {
    white-space: pre-wrap;
  }

  .doc_links, .sample_links, .owner {
    @include flex-shrink(1 !important);
  }
  .sample_links {
    margin-left: 8px;
  }
}

.sidebyside {
  @include display-flex;
  @include justify-content(space-between);

  .flex {
    -ms-flex: 0 0 calc(50% - 16px);
    -webkit-flex: 0 0 calc(50% - 16px);
    flex: 0 0 calc(50% - 16px);
  }
}

.resources {
  label {
    margin-right: 8px;
  }
}

@media only screen and (max-width: 700px) {
  :host {
    border-radius: 0 !important;
    margin: 7px initial !important;
    transition: none !important;
  }

  iron-icon {
    --iron-icon-height: 16px;
    --iron-icon-width: 16px;
  }

  h2 {
    font-size: 20px !important;
  }
  section {
    margin-left: 0;
  }
  .category {
    display: none;
  }
  .impl_status {
    > span:not([hidden]):not(:last-of-type),
    > a {
      margin-bottom: 10px;
    }
  }
  .views > span {
    margin-bottom: 10px;
  }

  .sidebyside {
    display: block;
    // @include flex-direction(column);
  }
}

@media only screen and (min-width: 701px) {
  .resources {
    @include display-flex;
    @include align-items(center);
  }
}
