@import "element";

:host {
  display: inline-block;
  contain: content;
}

.meter {
  background: $chromium-color-light; //var(--paper-green-200);
  border-radius: $default-border-radius;
  overflow: hidden;
  height: 1.7em;
  color: white;

  div {
    background: $chromium-color-center; //var(--paper-green-500);
    height: 100%;
    white-space: nowrap;
    padding: 3px 0;
    text-indent: 5px;
  }
}
