@import "element";

:host {
  display: block;
  position: absolute;
}

paper-dialog {
  width: 80vw;
}

h3 {
  border-bottom: 2px solid $chromium-color-center;

  &:first-child {
    margin-top: 24px;
  }

}

ul {
  margin: 0 0 15px 0;

  > li {
    margin: 5px 0;
  }
}

label {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

section {
  margin-top: 10px;

  &.views {
    @include display-flex;
    > div {
      @include flex(1 0 0);
    }
  }
}

.queries {
  li {
    span {
      margin-right: 5px;
      width: 200px;
      display: inline-block;
    }
  }
}

p {
  margin-top: 5px;
}

.content-wrapper ::content .close {
  position: absolute;
  top: $content-padding / 2;
  right: $content-padding / 2;
}
