:host {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #323232;
  color: #f1f1f1;
  min-height: 48px;
  min-width: 288px;
  padding: 16px 24px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  margin: 12px;
  font-size: 14px;
  cursor: default;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
  will-change: opacity, transform;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  z-index: 3;
  bottom: 0;
}

:host([open]) {
  opacity: 1;
  transform: translateY(0px);
}

#action {
  text-transform: uppercase;
  text-decoration: none;
  color: #FFEB3B;
  font-weight: bold;
}

#msg {
  margin-right: 16px;
}
