@import "element";

$small-font-size: 80%;

:host {
  display: block;
}

ul {
  &.canaryisdev {
    li {
      &:nth-of-type(4)::after {
        content: 'canary/dev';
      }
      &:nth-of-type(5)::after {
        content: 'beta';
      }
      &:nth-of-type(6)::after {
        content: 'stable';
      }
      &:nth-of-type(7)::after {
        content: '';
      }
    }
  }

  &.betaisdev {
    li {
      &:nth-of-type(4)::after {
        content: 'canary';
      }
      &:nth-of-type(5)::after {
        content: 'dev/beta';
      }
      &:nth-of-type(6)::after {
        content: 'stable';
      }
      &:nth-of-type(7)::after {
        content: '';
      }
    }
  }

  li {
    cursor: pointer;
    padding: 3px 0;

    &::before {
      content: '';
      margin-right: 5px;
      border-left: 3px solid transparent;
    }
    &::after {
      font-size: $small-font-size;
      margin-left: 10px;
    }

    &:first-of-type,
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:last-of-type {
      font-size: $small-font-size;
    }
    &:nth-of-type(3) {
      border-bottom: 1px solid $bar-border-color;
      padding-bottom: 10px;
      margin-bottom: 5px;
    }
    &:nth-of-type(4)::after {
      content: 'canary';
    }
    &:nth-of-type(5)::after {
      content: 'dev';
    }
    &:nth-of-type(6)::after {
      content: 'beta';
    }
    &:nth-of-type(7)::after {
      content: 'stable';
    }

    &[selected] {
      font-weight: 500;
      color: $chromium-color-dark;
      &::before {
        border-color: $chromium-color-dark;
      }
    }
  }
}

.error {
  font-size: $small-font-size;
  font-weight: 500;
  font-style: italic;
  margin: 100px 0 0 5px;
  color: darkred;
}

