@import "element";

:host {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    content: '';
    transition: opacity 300ms;
    background: #000;
    opacity: 0;
    pointer-events: none;
    will-change: opacity;
  }
}

:host([opened]) {
  visibility: visible;
  z-index: 1;

  &::after {
    opacity: 0.6;
  }
}

#overlay {
  background: #fff;
  padding: 16px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

h3 {
  border-bottom: 2px solid $chromium-color-center;
  padding: 0 !important;
}

ul {
  margin: 0 0 15px 0;

  > li {
    margin: 5px 0;
  }
}

label {
  font-weight: 600;
  text-transform: uppercase;
}

section {
  margin-top: 10px;

  &.views {
    display: flex;
    > div {
      flex: 1 0 0;
    }
    li > span {
      margin-left: 3px;
    }
  }
}

.queries {
  li {
    span {
      margin-right: 5px;
      width: 200px;
      display: inline-block;
    }
  }
}

p {
  margin-top: 5px;
}

.content-wrapper ::content .close {
  position: absolute;
  top: $content-padding / 2;
  right: $content-padding / 2;
  cursor: pointer;
}

@media only screen and (min-width: 701px) {
  #overlay {
    width: 80vw;
    max-height: 80vh;
  }
}
