@import "compass/css3/transition";

@import "element";

:host {
  @include display-flex;
  // @include transition(height 400ms ease-in-out);
  // height: $feature-min-height;
  // overflow: hidden;
  cursor: pointer;
  @include gradient-bar-bg;
  // margin-bottom: 10px !important;
  position: relative;
  border-radius: $default-border-radius;
  padding: 10px 20px !important;
  list-style: none;
  box-sizing: border-box;

  &:active {
    outline: none;
  }
}

:host(.open) {
  // height: 290px;
  // height: auto;
  overflow: auto;
  outline: none;
}

h2 {
  display: inline-block;
  font-size: 25px;
  @include flex(1 0 0);
}

iron-icon {
  --iron-icon-height: 20px;
  --iron-icon-width: 20px;

  &.android {
    color: #A4C739;
  }
  &.remove {
    color: var(--paper-red-700);
  }
  &.deprecated {
    color: var(--paper-orange-700);
  }
  &.experimental {
    color: var(--paper-green-700);
  }
  &.opennew {
    color: var(--paper-grey-700);
    --iron-icon-height: 14px;
    --iron-icon-width: 14px;
  }
}

.editfeature {
  color: $chromium-color-center;
}

.main-content-area {
  @include flex(1 0 0);
  margin-right: 12px;
  overflow: hidden;
}

.open-standalone {
  position: absolute;
  right: 0;
  top: 0;
  @include display-flex;
  @include align-items(center);
  height: 100%;
  // box-shadow: -1px 1px 3px #ccc;
  border-left: 2px solid #eee;
  padding: 4px;
}

.iconrow {
  @include display-flex;
  @include align-items(center);
}

.topcorner {
  .tooltip {
    margin-left: 8px;

    &:hover, &:active {
      &:before {
        @include tooltip;
        top: 35px;
        right: 20px;
        width: auto;
        white-space: nowrap;
      }
    }
  }
}

hgroup {
  @include display-flex;
  @include align-items(flex-start);

  .category {
    color: $gray-2;
    //font-size: 14px;
    cursor: pointer;
  }

  chromedash-color-status {
    //margin-right: 10px;
    position: absolute;
    top: 0;
    left: 0;

    &:hover, &:active {
      &:before {
        @include tooltip;
        //top: 5px;
        top: 50%;
        margin: -30px auto;
        left: 25px;
        width: 275px;
      }
    }
  }
}

section {
  margin: 18px 0;

  &.desc {
    margin: 10px 0 0 0;
    cursor: pointer;
    color: $gray-3;

    summary {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      &.open {
        white-space: normal;
      }
    }
  }

  h3 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 400;
  }

  label {
    font-weight: 600;
    //color: $chromium-color-dark;
    margin-right: 5px;
  }

  div {
    margin-bottom: 10px;
    @include flex-wrap(wrap);
    > span {
      margin-right: 20px;
    }
  }

  .impl_status {
    .chrome_desktop, .chrome_android, .chrome_webview {
      &.tooltip {
        position: relative;
        &:hover, &:active {
          &:before {
            @include tooltip;
            top: -50px;
            left: 20px;
            width: 225px;
          }
        }
      }
    }
  }

  .views {
    @include display-flex;
    @include flex-wrap(wrap);

    & > span {
      @include display-flex;
      @include align-items(center);
      position: relative;

      > label {
        cursor: inherit;
      }

      &:hover, &:active {
        &:before {
          @include tooltip;
          top: -50px;
          left: 20px;
          width: 150px;
        }
      }
    }
  }

  .standardization {
    @include display-flex;
    @include flex-wrap(wrap);
    & > span {
      @include display-flex;
      @include align-items(center);
    }
  }

  .comments {
    white-space: pre-wrap;
  }
}

chromedash-color-status {
  @include display-flex;
  margin-right: 5px;
  box-sizing: border-box;
  @include flex(auto 0 0);
}


@media only screen and (max-width: 700px) {
  :host {
    // box-shadow: none !important;
    border-radius: 0 !important;
    margin: 7px initial !important;
    @include transition(none !important);
  }

  h2 {
    font-size: 20px !important;
  }
  section {
    margin-left: 0;
  }
  .category {
    display: none;
  }
  .impl_status {
    @include display-flex;
    @include flex-direction(column);
    @include flex-wrap(initial);
    > span:not([hidden]):not(:last-of-type),
    > a {
      margin-bottom: 10px;
    }
  }
  .views > span {
    margin-bottom: 10px;
  }
}
