@import "compass/css3/transition";

@import "element";

@host {
  :scope {
    display: block;
    @include transition(height 400ms ease-in-out);
    height: 105px;
    overflow: hidden;
  }
  :scope.open {
    height: 350px;
    overflow: auto;
  }
}

h2 {
  display: inline-block;
  margin-right: 1em;
  font-size: 25px;
}

hgroup {
  @include display-flex;
  @include align-items(center);
  margin-bottom: 15px;
  cursor: pointer;

  .category {
    color: #bbb;
    font-size: 15px;
  }

  chromedash-color-status {
    margin-right: 10px;
  }
}

section {
  $spacer: 20px;
  margin-left: 30px;
  margin-top: $spacer;
  
  h3 {
    margin-bottom: 10px;
    font-size: 18px;
    //color: $chromium-color-dark;
    font-weight: 400;
  }

  label {
    //font-weight: 600;
    color: $chromium-color-dark;
    margin-right: 5px;
  }

  div {
    margin-bottom: 10px;
    @include flex-wrap(wrap);
    > * {
      margin-right: $spacer;
      // white-space: nowrap;
    }
  }

  .views {
    @include display-flex;
    @include flex-wrap(wrap);
    
    & > * {
      @include display-flex;
      @include align-items(center);
    }
  }

  // .impl_status {
  //   label:after {
  //     content: ':';
  //   }
  // }
}

chromedash-color-status {
  @include display-flex;
  margin-right: 5px;
  box-sizing: border-box;
  @include flex(auto 0 0);
}


@media only screen and (max-width: 700px) {
  section {
    margin: 0;
    &.desc {
      margin-bottom: 10px;
    }
  }
  .impl_status {
    @include display-flex;
    @include flex-direction(column);
    @include flex-wrap(initial);
    > span label {
      width: 100px;
    }
  }
  .views span {
    label {
      &:after {
        content: '';
      }
    }
  }
}
