@import "element";
@import "../_layout";

:host {
  padding: $content-padding;
  background: #fff;
  padding: $content-padding;
  margin-bottom: $content-padding !important;
  border-radius: $default-border-radius;
  margin-right: $content-padding/2 !important;
  margin-left: $content-padding/2 !important;
  counter-reset: featurecount;
  margin: $content-padding / 2;
}

iron-icon {
  --iron-icon-height: 18px;
  --iron-icon-width: 18px;

  color: $chromium-color-dark;

  &:hover.android {
    color: #A4C739;
  }
  &:hover.remove {
    color: var(--paper-red-700);
  }
  &:hover.deprecated {
    color: var(--paper-orange-700);
  }
  &:hover.experimental {
    color: var(--paper-green-700);
  }
  &:hover.intervention {
    color: var(--paper-yellow-800);
  }
  &.pushicon {
    cursor: pointer;
  }
}
  
.main-toolbar .toolbar-content {
  max-width: 100%; // override.
  width: 100%;
}
  
.chrome_version {
  font-size: 45px;
  margin: $content-padding / 2 0 $content-padding 0;
  white-space: nowrap;
}

.channel_label {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
}

.chrome_version .chrome-logo,
.chrome_version--stable .chrome-logo {
  position: relative;
  width: 45px;
  height: 45px;
  background: url(/static/img/chrome_logo.svg) no-repeat 50% 50%;
  background-size: contain;
  margin-right: $content-padding / 2;
}

.chrome_version--beta .chrome-logo {
  background-image: url(/static/img/chrome_logo_beta.svg);
}

.chrome_version--dev .chrome-logo {
  background-image: url(/static/img/chrome_logo_dev.svg);
}

.chrome_version--canary .chrome-logo {
  background-image: url(/static/img/chrome_logo_canary.svg);
  background-size: 42px;
}

.chrome_version--dev_plus_one .chrome-logo {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.release {
  padding: $content-padding;
  background: #fff;
  padding: $content-padding;
  margin-bottom: $content-padding !important;
  border-radius: $default-border-radius;
  flex: 1 0 0;
  min-width: 300px;
  counter-reset: featurecount;

  &.no-components {
    .feature_shipping_type {
      display: none;
    }

    .feature_shipping_type + ul {
      margin-top: 0;
    }
  }
}

.milestone_info {
  margin-bottom: $content-padding / 2;

  &:nth-of-type(3) {
    border-bottom: 1px solid $gray-1; //$bar-border-color;
    padding-bottom: $content-padding;
  }

  .channel_label {
    font-size: inherit;
    font-weight: 500;
    text-transform: none;
  }
}

.features_list {
  margin-top: $content-padding * 2;

  ul, ol {
    margin-top: $content-padding / 2;
    list-style: none;
  }

  li {
    padding: $content-padding / 2 0;
    font-weight: 500;
    display: flex;
    justify-content: space-between;

    .icon_row {
      flex-shrink: 0;
    }

    > :first-child {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .features_header {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: $content-padding;
  }
}

.feature_shipping_type {
  margin-top: $content-padding;
  overflow: hidden;
  text-overflow: ellipsis;
}
