@import "element";

@host {
  :scope {
    display: block;
    margin-top: -14px;
  }
}

[data-first-of-milestone] {
  $milestone-label-size: 13px;

  // This one rule cases recalcstyle hot path in Blink. Invalidates all siblings.
  // &:first-of-type {
  //   margin-top: $milestone-label-size + 2;
  // }

  position: relative;
  margin-top: $milestone-label-size + 15;
  line-height: 0;

  &:after {
    content: attr(data-milestone) ""; // force string for FF
    font-size: $milestone-label-size;
    font-weight: 600;
    color: $chromium-color-dark;
    opacity: 0.5;
    position: absolute;
    right: 5px;
    top: -$milestone-label-size + 4;
    text-transform: uppercase;
  }

}

@media only screen and (max-width: 700px) {
  [data-first-of-milestone] {
    $milestone-label-size: 12px;
    &:after {
      font-size: $milestone-label-size;
      font-weight: normal;
      top: -$milestone-label-size - 10;
      opacity: 1;
      text-transform: uppercase;
    }
  }
}
