@import "element";

@host {
  :scope {
    display: block;
    @include flex(1);
    padding: 1px;
  }
}

#stack-rank-list {
  margin: 0;
  overflow-y: scroll;
  height: 350px;
  li {
    margin: 0;
    padding: 5px 0;
    @include display-flex;
    @include align-items(center);

    &[hidden] {
      display: none;
    }

    &.header {
      margin-bottom: 10px;
      
      label {
        color: $chromium-color-dark;
        text-transform: uppercase;
        background: $gray-1;
        border-radius: $default-border-radius;
        text-align: left;
        padding: 5px 7px;
        font-family: inherit;
      }
    }

    // &:nth-child(even) {
    //   background-color: #ccc;
    // }

    label {
      font-weight: 600;
      font-family: 'Source Code Pro', sans-serif;
      @include flex(1);
      cursor: pointer;

      &:first-child {
        text-align: right;
        margin-right: 10px;
        max-width: 175px;
      }

      i {
        display: none;
        &.activated {
          display: initial;
        }
      }
    }

    x-meter {
      padding-left: 7px;
    }

    x-meter, .flex2 {
      @include flex(2);
    }
  }
}

.loading {
  font-style: italic;
  color: $gray-2;
  @include justify-content(center);
}


