@import "element";

@host {
  :scope {
    display: block;
  }
}

ul {
  & > li {
    $small-font-size: 75%;
    cursor: pointer;
    padding: 5px 0;

    &:first-of-type,
    &:nth-of-type(2) {
      font-size: $small-font-size;
      //font-style: italic;
    }
    &:before {
      content: '';
      margin-right: 5px;
      border-left: 3px solid transparent;
    }
    &:after {
      font-size: $small-font-size;
      margin-left: 10px;
    }
  }
  // :nth-child(2):after {
  //   content: 'experimental';
  // }
  :nth-child(4):after {
    content: 'canary';
  }
  :nth-child(5):after {
    content: 'dev';
  }
  :nth-child(6):after {
    content: 'beta';
  }
  :nth-child(7) {
    &:after {
      content: 'stable';
    }
  }
  [selected] {
    font-weight: 600;
    color: $chromium-color-dark;
    &:before {
      border-color: currentcolor;
    }
  }
}
