@import "element";

@host {
  :scope {
    display: inline-block;
  }
}

.meter {
  background: $chromium-color-light;
  border-radius: $default-border-radius;
  overflow: hidden;
  height: 1.7em;
  color: white;

  div {
    background: $chromium-color-center;
    height: 100%;
    position: relative;
    padding: 3px 0;
    text-indent: 5px;
  }
}

