{% extends "base.html" %}
{% load inline_file %}

{% block css %}
<!-- <link rel="stylesheet" href="/static/css/metrics/metrics.css"> -->
<style>{% inline_file "/static/css/metrics/metrics.css" %}</style>
{% endblock %}

{% block html_imports %}
  <link rel="import" href="/static/elements/metrics-imports{% if VULCANIZE %}.vulcanize{% endif %}.html">
{% endblock %}

{% block drawer %}
  {% include "metrics/_nav.html" %}
{% endblock %}

{% block subheader %}
<div id="subheader">
  <h2>CSS usage metrics &gt; animated properties > timeline</h2>
</div>
{% endblock %}

{% block content %}
<div class="data-panel">
  <chromedash-feature-timeline
      type="css" view="animated"
      title="The % of page loads in which the given CSS property was animated."
      {% if not prod %}use-remote-data{% endif %}></chromedash-feature-timeline>
  <p class="callout">
    <b>Note</b>: on 2017-10-26 the underlying metrics were switched over to a newer collection system
    which is <a href="https://groups.google.com/a/chromium.org/forum/#!msg/blink-api-owners-discuss/IpIkbz0qtrM/HUCfSMv2AQAJ" target="_blank">more accurate</a>.
    This is also the reason for the abrupt spike around 2017-10-26.
  </p>
</div>
{% endblock %}

{% block js %}
<script>
document.addEventListener('WebComponentsReady', function(e) {
  var timeline = $('chromedash-feature-timeline');
  timeline.props = {{CSS_PROPERTY_BUCKETS|safe}};

  document.body.classList.remove('loading');

  window.addEventListener('popstate', function(e) {
    if (e.state) {
      timeline.selectedBucketId = e.state.id;
    }
  });
});
</script>
{% endblock %}
