{% extends "_base.html" %}
{% load inline_file %}

{% block css %}
  <style>{% inline_file "/static/css/metrics.css" %}</style>
{% endblock %}

{% block preload %}
<script src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block drawer %}
  {% include "metrics/css/_css_metric_nav.html" %}
{% endblock %}

{% block horizontalsubnav %}
<table>
  <tr>
    <nav class="data-panel">
      <td>View All Properties As:</td>
      <td>
        <a href="/metrics/css/timeline/popularity" class="sub-nav-links">Timeline</a> |
        <a href="/metrics/css/popularity"  class="sub-nav-links">Stack Rank</a>
      </td>
    </nav>
  </tr>

  <tr>
    <nav class="data-panel">
      <td>View Animated Properties As:</td>
      <td>
        <a href="/metrics/css/timeline/animated" class="sub-nav-links">Timeline</a> |
        <a href="/metrics/css/animated"  class="sub-nav-links">Stack Rank</a>
      </td>
    </nav>
  </tr>
</table>
{% endblock %}

{% block subheader %}
<div id="subheader">
  <h2>CSS usage metrics &gt; animated properties > timeline</h2>
</div>
{% endblock %}

{% block content %}
<div class="data-panel">
  <chromedash-timeline
      type="css" view="animated"
      title="The % of page loads in which the given CSS property was animated."
      ></chromedash-timeline>
  <p class="callout">
    <b>Note</b>: on 2017-10-26 the underlying metrics were switched over to a newer collection system
    which is <a href="https://groups.google.com/a/chromium.org/forum/#!msg/blink-api-owners-discuss/IpIkbz0qtrM/HUCfSMv2AQAJ" target="_blank" rel="noopener">more accurate</a>.
    This is also the reason for the abrupt spike around 2017-10-26.
  </p>
</div>
{% endblock %}

{% block js %}
<script>
  (function() {
    'use strict';
    // Get values from server. used in /static/js/metrics-timeline-page.js
    const DATA = {{CSS_PROPERTY_BUCKETS|safe}};
    {% inline_file "/static/js/metrics-timeline-page.min.js" %}
  })();
</script>
{% endblock %}
