{% extends "_base.html" %}
{% load inline_file %}

{% block css %}
  <style>{% inline_file "/static/css/metrics.css" %}</style>
{% endblock %}

{% block preload %}
<script src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block drawer %}
  {% include "metrics/css/_css_metric_nav.html" %}
{% endblock %}

{% block horizontalsubnav %}
<nav class="data-panel">
  View As:<a href="/metrics/css/timeline/popularity" class="sub-nav-links">Timeline</a> | 
  <a href="/metrics/css/popularity"  class="sub-nav-links">Stack Rank</a>
</nav>

{% endblock %}

{% block subheader %}
<div id="subheader">
  <h2>CSS usage metrics &gt; all properties > timeline</h2>
</div>
{% endblock %}

{% block content %}
<div class="data-panel">
  <p class="description">Use of CSS properties over time.</p>
  <chromedash-timeline
      type="css" view="popularity"
      title="Percentage of Chrome page loads that use this property at least once"
      ></chromedash-timeline>
  <p class="callout">
    <b>Note</b>: on 2017-10-26 the underlying metrics were switched over to a newer collection system
    which is <a href="https://groups.google.com/a/chromium.org/forum/#!msg/blink-api-owners-discuss/IpIkbz0qtrM/HUCfSMv2AQAJ" target="_blank">more accurate</a>.
    This is also the reason for the abrupt spike around 2017-10-26.
  </p>
</div>
{% endblock %}

{% block js %}
<script>
  (function() {
    'use strict';
    // Get values from server. used in /static/js/metrics-timeline-page.js
    const DATA = {{CSS_PROPERTY_BUCKETS|safe}};
    {% inline_file "/static/js/metrics-timeline-page.min.js" %}
  })();
</script>
{% endblock %}
