{% extends "base.html" %}
{% load verbatim %}

{% block css %}
<link rel="stylesheet" href="/static/css/metrics/metrics.css">
{% endblock %}

{% block html_imports %}
  <link rel="import" href="/static/elements/chromedash-timeline.html">
{% endblock %}

{% block js %}
<!-- <script src='//www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1","packages":["corechart"],"callback": "onGoogLoad"}]}'></script> -->
<!-- Load charts api outside of chromedash-timeline until
     https://github.com/Polymer/polymer-elements/issues/26 is fixed. -->
<script src='//www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1","packages":["corechart"]}]}'></script>

<!-- <script src="/static/js/metrics/featurelevel.js"></script> -->
{% endblock %}

{% block subheader %}
<div id="subheader">
  <h2>CSS usage metrics &gt; all properties > timeline</h2>
</div>
{% endblock %}

{% block content %}
<section id="panels">
<nav>{% include "metrics/_nav.html" %}</nav>
<div class="data-panel">
  <p class="description">Use of CSS properties over time.</p>
  <chromedash-feature-timeline type="css" view="popularity" title="Percentage of pages surveyed that use this property"></chromedash-feature-timeline>
</div>
</section>

<script>
document.addEventListener('polymer-ready', function(e) {
  var timeline = $('chromedash-feature-timeline');
  timeline.props = {{CSS_PROPERTY_BUCKETS|safe}};

  window.addEventListener('popstate', function(e) {
    if (e.state) {
      timeline.selectedBucketId = e.state.id;
    }
  });
});
</script>
{% endblock %}
