/* App specific */
/* ----- */
.layout {
  display: flex;
}

.layout.wrap {
  flex-wrap: wrap;
}

.layout.center {
  align-items: center;
}

.layout.center-center {
  align-items: center;
  justify-content: center;
}

.layout.vertical {
  flex-direction: column;
}

:root {
  --padding: 8px;
}

#subheader {
  max-width: initial;
  justify-content: initial;
}
#subheader a {
  margin-left: calc(var(--padding) * 3);
}

#users_list {
  margin-bottom: 100px;
  list-style: none;
}

#channels, .filtering {
  justify-content: space-evenly;
  padding: calc(var(--padding) * 2);
  margin-bottom: calc(var(--padding) * 2);
  background-color: #fff;
  width: 860px;
  max-width: 100%;
}

.channels-title {
  font-weight: 500;
}

.filtering {
  text-align: center;
  font-size: 16px;
}

.chrome_version {
  margin: 0;
  border-bottom: 3px solid transparent;
  color: #4580c0;
}
.chrome_version:hover, .chrome_version.highlight {
  border-bottom: 3px solid currentColor;
}
.chrome_version.highlight {
  font-weight: 500;
}
.chrome_version a {
  text-decoration: none;
}

.component_list {
  padding: calc(var(--padding) * 2) calc(var(--padding) * 4);
}

.component:not(:last-child) {
  margin-bottom: calc(var(--padding) * 2);
}

.component_name {
  font-weight: 500;
  font-size: 14px;
}

.component_features {
  margin-top: calc(var(--padding) * 2);
}

.feature_name {
  margin: 0 calc(var(--padding) * 4);
  line-height: 1.8;
}

.user_name {
  min-width: 175px;
}

@media only screen and (max-width: 700px) {
  .milestone_number {
    display: none;
  }
}