{% extends "_base.html" %}

{% block css %}
  <link rel="stylesheet" href="/static/css/forms.css">
{% endblock %}

{% block subheader %}
<div id="subheader">
  <h2>Application users</h2>
</div>
{% endblock %}

{% block content %}
<section>

  <chromedash-userlist></chromedash-userlist>

</section>
{% endblock %}

{% block js %}
<script nonce="{{nonce}}">
  const el = document.querySelector('chromedash-userlist');
  el.users = {{users|safe}};

  document.body.classList.remove('loading');
</script>
{% endblock %}
