{% extends "_base.html" %}

{% block css %}
  <link rel="stylesheet" href="/static/css/forms.css">
{% endblock %}

{% block subheader %}
<div id="subheader">
  <h2>Allowlist a user</h2>
</div>
{% endblock %}

{% block content %}
<section>

  <chromedash-userlist
    actionPath="/admin/users/create"
    token="{{xsrf_token}}"
    ></chromedeash-userlist>

</section>
{% endblock %}

{% block js %}
<script>
  const el = document.querySelector('chromedash-userlist');
  el.users = {{users|safe}};

  document.body.classList.remove('loading');
</script>
{% endblock %}
