//@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/images";
//@import "compass/css3/box-shadow";
//@import "compass/css3/text-shadow";
//@import "compass/css3/background-size";

@import "vars";

* {
  box-sizing: border-box;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

@mixin gradient-bar-bg {
  background-color: #FAFAFA;
  @include background($bar-gradient);
  padding: 0.75em 1em;
  box-shadow: 1px 1px 4px $bar-shadow-color;
}
