@import "vars";
@import "layout";

#spinner {
  display: none !important;
}
#subheader {
  ul {
    list-style-type: none;
    margin-left: $content-padding;
    display: flex;
    justify-content: flex-end;
    flex: 1 0 auto;

    li {
      text-align: center;
      border-radius: $default-border-radius;
      // background: $bar-gradient;
      box-shadow: 1px 1px 4px $bar-shadow-color;
      padding: 0.5em;
      background: $chromium-color-dark;
      color: #fff;
      font-weight: 500;
      text-transform: uppercase;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
#components_list {
  /*display: flex;*/
  list-style: none;
  margin-bottom: $content-padding * 4;
  /*flex-wrap: wrap;*/

  li {
    padding: $content-padding / 2 0;
  }

  .component_name {
    flex: 1 0 130px;
  }
}
/*.owner_name {
  margin-right: $content-padding / 2;
}*/

.owners_list {
  // margin-top: $content-padding / 2;
  flex: 1 0 auto;
}
.owners_list_add_remove {
  margin-left: $content-padding / 2;

  button[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
}
.remove_owner_button {
  color: darkred;
}

select[multiple] {
  min-width: 100px;

  &:disabled option {
    color: initial;
    padding: 2px 4px;
  }
}
