@import "vars";

table {
  tr[hidden] {
    th, td {
      padding: 0;
    }
  }

  th {
    max-width: 200px;
  }

  th, td {
    padding: 10px;
    vertical-align: baseline;
  }
  .choices label {
    font-weight: bold;
  }
  .choices div {
    margin-top: 1em;
  }

  .choices p {
    margin: .5em 1.5em 1em;
  }

  .helptext {
    display: block;
    font-style: italic;
    font-size: smaller;
    max-width: 40em;
  }
  input[type="text"], input[type="url"], input[type="email"], textarea {
    width: 100%;
  }

  select {
    max-width: 350px;
  }

  :required {
    border: 1px solid $chromium-color-dark;
  }

  .interacted:valid {
    border: 1px solid green;
  }

  .interacted:invalid {
    border: 1px solid $invalid-color;
  }

  .errorlist {
    color: red;
  }
}

input, textarea {
  outline: none;
  padding: 7px;
}

li {
  list-style: none;
}

form[name="feature_form"] {
  margin-bottom: 54px + $content-padding * 2; // bottom bar + some.

  h3 {
    margin: $content-padding / 2 0;
  }
  input[type="submit"] {
    margin-top: $content-padding;
  }
}
