@import "vars";

table {
  tr[hidden] {
    th, td {
      padding: 0;
    }
  }

  th {
    padding: 12px 10px 5px 0;
    vertical-align: top;
  }

  td {
    padding: 6px 10px;
    vertical-align: top;
  }

  td:first-of-type { 
    width: 60% 
  }

  .helptext {
    display: block;
    font-size: small;
    max-width: 40em;
    margin-top: 2px;
  }

  input[type="text"], input[type="url"], input[type="email"], textarea {
    width: 100%;
    font: var(--form-element-font);
  }

  select {
    max-width: 350px;
  }

  :required {
    border: 1px solid $chromium-color-dark;
  }

  .interacted:valid {
    border: 1px solid green;
  }

  .interacted:invalid {
    border: 1px solid $invalid-color;
  }

  input:not([type="submit"]):not([type="search"]) {
    outline: 1px dotted var(--error-border-color);
    background-color: #FFEDF5;
  }
}

input, textarea {
  padding: 7px;
}

li {
  list-style: none;
}

form[name="feature_form"] {
  h3 {
    margin: $content-padding / 2 0;
  }
  input[type="submit"] {
    margin-top: $content-padding;
  }
}

form[name="feature_form"] .stage_form {
  margin-bottom: 2em;
}

form section.flat_form + h3, .final_buttons {
  margin-top: 2em;
}

#metadata, .stage_form, .flat_form, .final_buttons {
  max-width: 67em;
  padding: 1em;
}

#metadata, .stage_form, .flat_form {
  color: #444;
  background: white;
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.067) 1px 1px 4px;
}

#metadata-readonly div + div {
  margin-top: 4px;
}

sl-input::part(base) {
  overflow: visible;
}

sl-input[invalid]::part(input),
sl-checkbox[invalid]::part(input),
chromedash-textarea[invalid]::part(textarea)
{
  outline: 1px dotted red;
  background-color: #FFEDF5;
}

sl-select[size="small"] sl-menu-item::part(base) {
  font-size: var(--sl-font-size-x-small);
  padding: 0px;
}

/* Hide select until loading is done and the component is defined. */
:not(:defined) {
  visibility: hidden;
}

/* menu items for selects should not be displayed at all, until defined */
sl-select sl-menu-item:not(:defined) {
   display: none 
}

chromedash-form-field {
  display: table-row-group;
}

chromedash-form-field {
  tr[hidden] th,
  tr[hidden] td {
    padding: 0;
  }

  th, td {
    text-align: left;
    vertical-align: top;
  }

  th {
    padding: 12px 10px 5px 0;
  }

  td {
    padding: 6px 10px;
  }

  td:first-of-type {
    width: 60%;
    max-width: 35em;
  }

  td.extrahelp {
    padding: 0 10px;
  }

  .helptext {
    display: block;
    font-size: small;
    max-width: 40em;
    margin-top: 2px;
  }

  .helptext > *:first-child {
    margin-top: 0;
  }
  .helptext > *:last-child {
    margin-bottom: 0;
  }

  .errorlist {
    color: red;
  }

  sl-details::part(base) {
    border-width: 0;
  }

  sl-details::part(header) {
    padding: 0;
    display: none;
  }

  sl-details::part(content) {
    padding-top: 0;
  }

  sl-icon-button::part(base) {
    font-size: 16px;
    color: var(--link-color);
    padding: 0;
    margin: 4px;
  }

  sl-details > *:first-child {
    margin-top: 0;
  }
  sl-details > *:last-child {
    margin-bottom: 0;
  }
}

sl-skeleton {
  margin-bottom: 1em;
  width: 60%;
}

sl-skeleton:nth-of-type(even) {
  width: 50%;
}

h3 sl-skeleton {
  margin-top: 1em;
  width: 30%;
  height: 1.5em;
}
