@import "vars";

table {
  tr[hidden] {
    th, td {
      padding: 0;
    }
  }

  th {
    max-width: 200px;
    padding: 12px 10px 10px 0;
    vertical-align: top;
  }

  td {
    padding: 10px;
    vertical-align: top;
  }
  .choices label {
    font-weight: bold;
  }
  .choices div {
    margin-top: 1em;
  }

  .choices p {
    margin: .5em 1.5em 1em;
  }

  .helptext {
    display: block;
    font-style: italic;
    font-size: smaller;
    max-width: 40em;
    margin-top: 2px;
  }
  input[type="text"], input[type="url"], input[type="email"], textarea {
    width: 100%;
  }

  select {
    max-width: 350px;
  }

  :required {
    border: 1px solid $chromium-color-dark;
  }

  .interacted:valid {
    border: 1px solid green;
  }

  .interacted:invalid {
    border: 1px solid $invalid-color;
  }

  .errorlist {
    color: red;
  }
}

input, textarea {
  padding: 7px;
}

li {
  list-style: none;
}

form[name="feature_form"] {
  margin-bottom: 54px + $content-padding * 2; // bottom bar + some.

  h3 {
    margin: $content-padding / 2 0;
  }
  input[type="submit"] {
    margin-top: $content-padding;
  }
}

.stage_form form[name="feature_form"] {
  margin-bottom: 1em;
}

.stage_form, .final_buttons {
  margin-bottom: 6em;
}

form section.flat_form + h3, .final_buttons {
  margin-top: 2em;
}

#metadata, .stage_form, .flat_form, .final_buttons {
  max-width: 67em;
  padding: 1em;
}

#metadata, .stage_form, .flat_form {
  color: #444;
  background: white;
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.067) 1px 1px 4px;
}

.stage_form th, .flat_form th, .final_buttons th {
  width: 200px;
}

#metadata-readonly div + div {
  margin-top: 4px;
}
