@import "base";
@import "compass/css3/images";

html, body {
  height: 100%;
}

body {
  color: $default-font-color;
  font: 14px "Open Sans", Arial, sans-serif;
  background-color: $light-grey;
  //background: url(../img/bg.png);

  // Prevent Polymer from handling FOUC for us.
  opacity: 1.0 !important;
  transition: none !important;
}

h1, h2, h3, h4 {
  font-weight: 300;
}
h1 {
  font-size: 30px;
}
h2, h3, h4 {
  color: #444;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
}
a {
  color: $chromium-color-center;
}
a:hover {
  color: $chromium-color-dark;
  text-decoration: none
}
b {
  font-weight: bold;
}

input:not([type="submit"]), textarea {
  border: 1px solid $bar-border-color;
  //box-shadow: 2px 2px 2px #ccc inset;

  &[disabled] {
    opacity: 0.5;
  }
}

header, footer {
  @include display-flex;//@include display-box;
  @include align-items(center);
  text-shadow: 0 1px 0 white;
}

header {
  margin: 15px 0 0 0;
  @include user-select;

  a {
    color: currentcolor;
  }

  aside {
    //@include display-box; //@include display-flex;
    //@include align-items(center);
    @include gradient-bar-bg;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /* Uncomment gradient-bar-bg and these 2 to make pretty again */
    border-bottom: 1px solid $bar-border-color;
    border-right: 1px solid $bar-border-color;
    background-color: #FAFAFA;
    padding: 0.75em 1em;

    // Small logo.
    // background: url(/static/img/chromium-128.png) no-repeat 14px 50%, #FAFAFA;
    // background-size: 45px;
    // padding-left: 65px;
    // Larger bg logo.
    background: url(/static/img/chromium-128.png) no-repeat 10px 50%, #FAFAFA;
    background-size: 25%;
    padding-left: 125px;

    // // TODO: temporary for old flex box support.
    // hgroup {
    //   @include display-box; //@include display-flex;
    //   @include box-orient(vertical); // TODO: remove. Needed because Safari and FF don't have new flexbox.
    // }

    h1 {
      line-height: 1;
    }
    img {
      height: 45px;
      width: 45px;
      margin-right: 7px;
    }
  }

  nav {
    @include display-flex; // @include display-box;
    //@include box-align(center); // TODO: remove. Needed because Safari and FF don't have new flexbox.
    @include align-items(center);
    //width: 400px;
    margin-left: 3em;

    a {
      @include gradient-bar-bg;
      @include flex(1);
      cursor: pointer;
      margin-right: 1em;
      font-size: 16px;
      text-align: center;
      border-radius: $default-border-radius;
      border-bottom: 1px solid $bar-border-color;
      border-right: 1px solid $bar-border-color;
      //padding-left: 3em;

      &:active {
        position: relative;
        top: 1px;
        left: 1px;
        box-shadow: 3px 3px 4px $bar-shadow-color;
      }

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
        //visibility: hidden;
      }
    }
  }
}

footer {
  @include gradient-bar-bg;
  font-size: 12px;
  box-shadow: 0 -2px 5px $bar-shadow-color;

  //@include box-pack(center); // TODO: remove. Needed because Safari and FF don't have new flexbox.
  //@include box-orient(vertical);
  //@include display-box;
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(center);
  text-align: center;
  position: relative;

  div {
    margin-top: 5px;
  }
}

chromedash-legend {
  top: 72px;
  left: 50%;
  width: 512px;
  margin-left: -256px;
}

#subheader {
  //@include display-box;
  //@include box-align(center);
  @include display-flex;
  @include align-items(center);
  margin: $content-padding $content-padding 0 $content-padding + 5;
  //border-bottom: 1px solid $bar-border-color;

  div {
    margin-right: $content-padding * 2 - 15;

    &.feature-count {
      min-width: 300px;
      margin-right: $content-padding - 15; 
    }
  }

  .search {
    input {
      width: 200px;
      outline: none;
      padding: 10px 7px;
    }
  }
}

#container {
  @include display-flex;
  //@include display-box; //@include display-flex;
  @include flex-direction(column);
  height: 100%;
  width: 100%;

  //@include box-orient(vertical); // TODO: remove. Needed because Safari and FF don't have new flexbox.
}

#content {
  @include display-flex; //@include display-box; 
  //@include justify-content(center);
  @include flex(1 0 0);
  //@include box-orient(vertical);

  margin: $content-padding / 2 $content-padding;
  overflow: auto;

  position: relative;

 // @include box-flex(1); // TODO: remove. Needed because Safari and FF don't have new flexbox.
}

#panels {
  //@include display-box;
  @include display-flex;
  width: 100%;

  nav {
    font-size: 125%;
    font-weight: 300;
    width: $content-padding * 4;

    li {
      &:first-of-type {
        padding-top: 0;
      }
      padding: 5px 0;
    }

    chromedash-metadata {
      position: fixed;
      //height: 55vh;
      overflow: auto;

      .help {
        text-align: center;
      }
    }
  }

  chromedash-featurelist {
    @include flex(1 0 0);
    //@include box-flex(1);
    //margin-left: $content-padding * 5;
    height: 100%;
    max-width: 760px;
    // font-weight: 300;
  }
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
  #container {
    display: block;
  }
  #content {
    margin: 0;
  }
  header {
    margin: 0;
    display: block;
    aside {
      padding: 0.5em;
      border-radius: 0;

      hgroup {
        text-align: right;
        span {
          display: none;
        }
      }
    }
    nav {
      margin: 10px 0;
      //@include box-pack(center);
      @include justify-content(center);
      a {
        padding: 5px 10px;
        margin: 0;
        border-radius: 0;
      }
    }
  }

  #panels {
    display: block;
    nav {
      display: none;
      //width: $content-padding + 5;
    }
  }

  #subheader {
    margin: ($content-padding / 2) - 5;
    div {
      &:not(.search) {
        display: none;
      }

      &.search {
        text-align: center;
        @include flex(1 0 0);
        margin: 0;
      }
    }
  }

  //TODO: move these into the chromedash-feature.scss when we can use media
  // queries with @host{}.
  chromedash-feature,
  [is="chromedash-feature"] {
    box-shadow: none !important;
    border-radius: 0 !important;
    padding: 10px !important;
    margin: 0 !important;
  }

  footer {
    padding: 0.35em;
  }
}

// // For browsers that don't support :unresolved, need a way to turn this off.
// // Code applies .resolved when "WebComponentsReady".
// :unresolved:not(.resolved) {
//   border: 1px dashed #ccc;
//   display: block;
//   background: rgba(255,255,255,0.5);
//   border-radius: $default-border-radius;
//   @include display-flex;
//   @include justify-content(center);

//   &:after {
//     font-size: 12px;
//     font-weight: normal;
//     content: 'loading...';
//     color: #ccc;
//     @include display-flex;
//     @include justify-content(center);
//     @include align-items(center);
//     padding: 15px;
//   }
// }
