@import "base";

html, body {
  height: 100%;
}

body {
  color: $default-font-color;
  font: 14px "Roboto", Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background-color: $light-grey;

  &.loading {
    #spinner {
      display: flex;
    }
    chromedash-toast {
      visibility: hidden;
    }
  }
}

#spinner {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: calc(100% - 54px - 135px); // 100% - height of footer + header.
  max-width: $max-content-width;
  width: 100%;
}

app-drawer {
  font-size: 14px;

  .drawer-content-wrapper {
    height: 100%;
    overflow: auto;
    padding: $content-padding;
  }

  paper-listbox {
    background-color: inherit !important; // more specific than shimmer

    paper-item {
      font-size: inherit !important; // more specific than shimmer
    }
  }

  h3 {
    margin-bottom: $content-padding;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: inherit;
  }
}

app-header {
  background-color: $light-grey;
  right: 0;
  top: 0;
  left: 0;
  z-index: 1;

  &[fixed] {
    position: fixed;
  }
}

.main-toolbar {
  display: flex;
  position: relative;
  padding: 0 $content-padding;
}

header, footer {
  display: flex;
  align-items: center;
  text-shadow: 0 1px 0 white;
}

header {
  user-select: none;

  a {
    text-decoration: none !important;
  }

  nav {
    display: flex;
    align-items: center;
    margin-left: $content-padding;

    a {
      @include gradient-bar-bg;
      cursor: pointer;
      font-size: 16px;
      text-align: center;
      border-radius: $default-border-radius;
      border-bottom: 1px solid $bar-border-color;
      border-right: 1px solid $bar-border-color;
      white-space: nowrap;

      &:active {
        position: relative;
        top: 1px;
        left: 1px;
        box-shadow: 3px 3px 4px $bar-shadow-color;
      }

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    paper-menu-button {
      margin: 0 !important; // override polyfill shimming
      padding: 0 !important; // override polyfill shimming
      line-height: 1;

      .dropdown-content {
        display: flex;
        flex-direction: column;
      }
    }
  }

  aside {
    $logoSize: 48px;

    @include gradient-bar-bg;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid $bar-border-color;
    border-right: 1px solid $bar-border-color;

    background: url(/static/img/chrome_logo.svg) no-repeat $content-padding 50%;
    background-size: $logoSize;
    background-color: #fafafa;
    padding-left: $logoSize + $content-padding  + $content-padding / 2;

    hgroup {
      a {
        color: currentcolor;
      }
    }

    h1 {
      line-height: 1;
    }
    img {
      height: 45px;
      width: 45px;
      margin-right: 7px;
    }
  }
}

footer {
  @include gradient-bar-bg;
  font-size: 12px;
  box-shadow: 0 -2px 5px $bar-shadow-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  div {
    margin-top: $content-padding / 2;
  }
}

.description {
  line-height: 1.4;
}

#subheader, .subheader {
  display: flex;
  align-items: center;
  margin: $content-padding 0;
  max-width: $max-content-width;

  .num-features {
    font-weight: 400;
  }

  div {
    &.search {
      input {
        width: 200px;
        outline: none;
        padding: 10px 7px;
      }
    }

    &.actionlinks {
      display: flex;
      justify-content: flex-end;
      flex: 1 0 auto;
      margin-left: $content-padding;

      .blue-button {
        background: $chromium-color-dark;
        color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        max-height: 35px;
        min-width: 5.14em;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 3px;
        user-select: none;
        cursor: pointer;
        padding: 0.7em 0.57em;

        iron-icon {
          margin-right: $content-padding / 2;
        }
      }

      .legend {
        font-size: 18px;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#content {
  margin: $content-padding;
  position: relative;
  height: 100%;
  margin-top: 135px;
}

#panels {
  display: flex;
  width: 100%;
  overflow: hidden;
}

@media only screen and (min-width: 701px) {
  .main-toolbar {
    .toolbar-content {
      max-width: $max-content-width;
    }
  }
  app-drawer {
    .drawer-content-wrapper {
      margin-top: 135px; // height of header.
    }
  }
  app-header {
    padding-left: $app-drawer-width;
  }
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
  app-header {
    .main-toolbar {
      padding: 0;
      display: block;
    }
  }

  app-drawer {
    z-index: 2;
  }

  #content {
    margin-left: 0;
    margin-right: 0;
  }

  header {
    $logoSize: 24px;

    margin: 0;
    display: block;
    aside {
      display: flex;
      padding: $content-padding / 2;
      border-radius: 0;
      background-size: $logoSize;
      background-position: $content-padding + 8 + $logoSize 50%;

      hgroup {
        padding-left: $content-padding + 8 + $logoSize;
        span {
          display: none;
        }
      }
    }
    nav {
      margin: 0;
      justify-content: center;
      flex-wrap: wrap;
      a {
        padding: 5px 10px;
        margin: 0;
        border-radius: 0;
        flex: 1 0 auto;
      }
    }
  }

  #panels {
    display: block;
    nav {
      display: none;
    }
  }

  .subheader {
    .description {
      margin: 0 $content-padding;
    }
  }

  #subheader {

    div {
      &:not(.search) {
        display: none;
      }

      &.search {
        text-align: center;
        flex: 1 0 0;
        margin: 0;
      }
    }
  }

  // Make toast a bar that fills entire bottom of mobile screen.
  chromedash-toast {
    width: 100%;
    left: 0;
    margin: 0;
  }
}

@import 'fouc';
