@import "base";
@import "compass/css3/images";
@import "compass/css3/transition";

html, body {
  height: 100%;
}

body {
  color: $default-font-color;
  font: 14px "Roboto", Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background-color: $light-grey;
  // background: url(../img/bg.png);
}

header, footer {
  @include display-flex;//@include display-box;
  @include align-items(center);
  text-shadow: 0 1px 0 white;
}

header {
  margin: 15px 0 0 0;
  @include user-select;

  a {
    color: currentcolor;
    text-decoration: none !important;
  }

  aside {
    //@include display-flex;
    //@include align-items(center);
    @include gradient-bar-bg;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid $bar-border-color;
    border-right: 1px solid $bar-border-color;
    padding: 0.75em 1em;

    // Small logo.
    // background: url(/static/img/chromium-128.png) no-repeat 14px 50%, #FAFAFA;
    // background-size: 45px;
    // padding-left: 65px;
    // Larger bg logo.
    // background: url(/static/img/chromium-128.png) no-repeat 10px 50%, #FAFAFA;
    // background-size: 25%;
    // padding-left: 125px;
    // Multi-background
    // background: url(/static/img/chrome_logo.svg) no-repeat 52px 50%,
                // url(/static/img/canary_128.png) no-repeat 30px 50%,
                // url(/static/img/chromium-128.png) no-repeat 18px 50%;
    // background-size: 20%, 22%, 20%;
    background: url(/static/img/chrome_logo.svg) no-repeat 18px 50%;
    background-size: 20%;
    background-color: #fafafa;
    padding-left: 124px;

    h1 {
      line-height: 1;
    }
    img {
      height: 45px;
      width: 45px;
      margin-right: 7px;
    }
  }

  nav {
    @include display-flex;
    @include align-items(center);
    margin-left: 3em;

    a {
      @include gradient-bar-bg;
      cursor: pointer;
      margin-right: 1em;
      font-size: 16px;
      text-align: center;
      border-radius: $default-border-radius;
      border-bottom: 1px solid $bar-border-color;
      border-right: 1px solid $bar-border-color;

      &:active {
        position: relative;
        top: 1px;
        left: 1px;
        box-shadow: 3px 3px 4px $bar-shadow-color;
      }

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
}

footer {
  @include gradient-bar-bg;
  font-size: 12px;
  box-shadow: 0 -2px 5px $bar-shadow-color;
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(center);
  text-align: center;
  position: relative;

  div {
    margin-top: 5px;
  }
}

#subheader {
  @include display-flex;
  @include align-items(center);
  margin: $content-padding $content-padding 0 $content-padding + 5;
  // border-bottom: 1px solid $bar-border-color;
  max-width: $max-content-width + $content-padding * 7 + 5;

  div {
    margin-right: $content-padding * 2 - 15;

    &.feature-count {
      min-width: 325px;
      margin-right: $content-padding - 15;
    }

    &.search {
      margin-right: 0;
      input {
        width: 200px;
        outline: none;
        padding: 10px 7px;
      }
    }

    &.actionlinks {
      .legend {
        font-size: 18px;
        cursor: pointer;
        text-decoration: none;
      }
      @include flex(1 0 0);
      text-align: right;
      margin-right: 0;
    }
  }
}

#container {
  @include display-flex;
  @include flex-direction(column);
  height: 100%;
  width: 100%;
}

#content {
  @include display-flex;
  @include flex(1 0 0);
  margin: $content-padding;
  overflow: auto;
  position: relative;
}

#panels {
  @include display-flex;
  width: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
  #container {
    display: block;
  }
  #content {
    margin: 0;
  }
  header {
    margin: 0;
    display: block;
    aside {
      padding: 0.5em;
      border-radius: 0;

      hgroup {
        text-align: right;
        span {
          display: none;
        }
      }
    }
    nav {
      margin: 10px 0;
      @include justify-content(center);
      a {
        padding: 5px 10px;
        margin: 0;
        border-radius: 0;
      }
    }
  }

  #panels {
    display: block;
    nav {
      display: none;
    }
  }

  #subheader {
    margin: ($content-padding / 2) - 5;
    div {
      &:not(.search) {
        display: none;
      }

      &.search {
        text-align: center;
        @include flex(1 0 0);
        margin: 0;
      }
    }
  }

  footer {
    padding: 0.35em;
  }
}

// // For browsers that don't support :unresolved, need a way to turn this off.
// // Code applies .resolved when "WebComponentsReady".
// :unresolved:not(.resolved) {
//   border: 1px dashed #ccc;
//   display: block;
//   background: rgba(255,255,255,0.5);
//   border-radius: $default-border-radius;
//   @include display-flex;
//   @include justify-content(center);

//   &:after {
//     font-size: 12px;
//     font-weight: normal;
//     content: 'loading...';
//     color: #ccc;
//     @include display-flex;
//     @include justify-content(center);
//     @include align-items(center);
//     padding: 15px;
//   }
// }

// @import "features/features.scss"; // Inline features.css to remove 1 request on homepage.
// @import "metrics/metrics.scss";

