@import "vars";

.drawer-content-wrapper {
  max-width: var(--app-drawer-width);
}

#content {
  h3 {
    margin-bottom: $content-padding;
  }
}

.data-panel {
  max-width: $max-content-width;

  .description {
    margin-bottom: 1em;
  }
}

.metric-nav {
  list-style-type: none;

  h3:not(:first-of-type) {
    margin-top: $content-padding * 2;
  }

  li {
    padding: 0.5em;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 700px) {
  #subheader {
    margin: $content-padding 0;
    text-align: center;
  }
  .data-panel {
    margin: 0 10px;
  }
}
