@import "vars";

.drawer-content-wrapper {
  max-width: var(--app-drawer-width);
}

#content {
  h3 {
    margin-bottom: $content-padding;
  }
}

#content-component-wrapper {
  width: auto;
}

#column-container {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

#drawer-column {
  padding: 1em 2em 1em 1em;
  margin-left: 8px;
}

#content-column {
  flex: 1;
  padding-left: 2em;
}

.data-panel {
  max-width: $max-content-width;

  .description {
    margin-bottom: 1em;
  }
}

.metric-nav {
  list-style-type: none;

  h3:not(:first-of-type) {
    margin-top: $content-padding * 2;
  }

  li {
    padding: 0.5em;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1100px) {
  //Vertical Sub-Nav should not be visible in narrow view ports
  .metric-nav {
    display: none
  }

  #column-container {
    flex-direction: column;
  }

  #content-column {
    padding-left: var(--content-padding-half);
    padding-right: var(--content-padding-half);
  }

  #drawer-column {
    padding: 0em;
  }

  #subheader {
    margin: $content-padding 0;
    text-align: center;
  }

  .data-panel {
    margin: 0 10px;
  }
}

//Horizontal Sub-Nav should not be visible in wider view ports
@media only screen and (min-width: 1100px) {
  #horizontal-sub-nav {
    display: none
  }
}