body[data-path*='roadmap'] {
  --app-drawer-width: 0;

  app-drawer {
    display: none;
  }

}

#drawer-column {
  display: none;
}

#content-column {
  overflow: hidden;
}

@media only screen and (min-width: 701px) {

  #content-column {
    padding-right: 2em;
  }
}
