@import "vars";

paper-button, paper-item {
  iron-icon {
    margin-right: $content-padding / 2;
  }
}

paper-input {
  width: 300px;
  margin: auto;
  background-color: #fff;
}

app-drawer {
  #papermenu {
    color: $chromium-color-dark;
  }
  h3 {
    margin: $content-padding $content-padding 0 $content-padding;
  }
  .drawer-content-wrapper {
    padding: 0;
  }
}

#subheader {
  .feature-count {
    min-width: 170px;
  }
}

#sample-panel {
  position: relative;
  max-width: $max-content-width;

  &.loading {
    background: #fafafa;
    height: 100%;

    &::before {
      padding: $content-padding * 2;
      font-size: 18px;
      font-weight: normal;
      content: 'loading...';
      color: $gray-3;
      background: #fafafa;
      @include display-flex;
      @include justify-content(center);
      @include align-items(center);
      width: 100%;
      height: 100%;
      position: absolute;
      box-sizing: border-box;
    }
  }
}

#samplelist {
  li {
    margin-bottom: $content-padding;
    line-height: 1.4;
    list-style: none;
  }
  paper-material {
    background: #fff;
    padding: $content-padding;
  }
  iron-icon {
    color: $gray-2;
    @include flex-shrink(0);
  }
}

.feature-name {
  font-weight: 400;
  color: $chromium-color-dark;
  @include display-flex;
  @include justify-content(space-between);
}

.sample_links {
  @include display-flex;
  @include align-items(center);
  @include justify-content(space-between);
}

.milestone {
  font-size: 16px;
  white-space: nowrap;
  color: $gray-3;
}

.summary {
  margin: $content-padding 0;
}

.demo-links {
  margin-right: $content-padding;
  font-weight: 400;
  color: $chromium-color-dark;
  @include display-flex;
  @include flex-wrap(wrap);
}

.demo-link {
  background-color: #F5F5F5;
  margin: 8px 8px 0 0;
  color: $gray-3;
  display: block;
}
