@import "vars";

paper-listbox {
   background: inherit;
 }

paper-item {
  display: block;
  padding: 12px 16px;
  cursor: pointer;
}

.demo-link, paper-item {
  iron-icon {
    margin-right: $content-padding / 2;
  }
}

paper-input {
  width: 300px;
  margin: auto;
  background-color: #fff;
}

app-drawer {
  #papermenu {
    color: $chromium-color-dark;
    overflow: auto;
  }
  h3 {
    margin: $content-padding $content-padding 0 $content-padding;
  }
  .drawer-content-wrapper {
    padding: 0;
  }
}

#subheader {
  .feature-count {
    min-width: 170px;
  }
}
