@import "vars";

body[data-path$='schedule'] {
  app-drawer {
    display: none;
  }
  app-header {
    padding-left: 0;
  }
}

.layout {
  display: flex;
}
.layout.wrap {
  flex-wrap: wrap;
}
.layout.center {
  align-items: center;
}
.layout.center-center {
  align-items: center;
  justify-content: center;
}
.layout.vertical {
  flex-direction: column;
}
.chrome_version {
  font-size: 45px;
  border-bottom: 1px solid $bar-border-color;
  padding-bottom: $content-padding / 2;
  margin: $content-padding / 2 0 $content-padding 0;
  white-space: nowrap;
}
.channel_label {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
}
.chrome_version .chrome-logo {
  position: relative;
  width: 45px;
  height: 45px;
  overflow: hidden;
  background: url(/static/img/chrome_logo.svg) no-repeat 50% 50%;
  background-size: contain;
  border-radius: 50%;
  margin-right: $content-padding / 2;

  &::before {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    font-weight: 600;
    background: #222;
    padding: 2px 0 3px 0;
    color: #fff;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }
}

.chrome_version--beta .chrome-logo {
  &::before {
    content: 'beta';
  }
}
.chrome_version--dev .chrome-logo {
  &::before {
    content: 'dev';
  }
}
.releases {
  padding-bottom: $content-padding * 5;

  .release {
    padding: $content-padding;
    // background: $bar-gradient;
    background: #fff;
    padding: $content-padding;
    border-radius: $default-border-radius;
    // transition: 300ms all ease-in-out;
    // flex: 1 0 auto;
    flex: 1 0 calc(33.33% - 16px);
    max-width: 33.33%;
    overflow: hidden;
    min-width: 300px;

    // &:hover,
    // &.release-beta {
    //   background: #fff;
    // }

    &:not(:last-child) {
      margin-bottom: $content-padding;
      margin-right: $content-padding;
    }
  }
}
.milestone_info {
  margin-bottom: $content-padding / 2;

  .channel_label {
    font-size: inherit;
    font-weight: 500;
    text-transform: none;
    // min-width: 60px;
    // display: inline-block;
    // text-align: end;
  }
}
.features_list {
  margin-top: $content-padding * 2;

  ol {
    margin-top: $content-padding / 2;
    padding: 0 $content-padding;
  }

  li {
    padding: $content-padding / 2 0;
    font-weight: 500;
  }
}

.special_status {
  font-weight: 600;
  background: $chromium-color-dark;
  color: white;
  padding: 2px 4px;
  border-radius: $default-border-radius;
}

.special_status-intervention {
  background: $chromium-color-dark;
}

.special_status-origin-trial {
  background: $chromium-color-center;
}

@media only screen and (max-width: 700px) {
  .releases {
    .release {
      min-width: 100%;
    }
  }
}