@import "vars";

.layout {
  display: flex;
}
.layout.center {
  align-items: center;
}
.layout.vertical {
  flex-direction: column;
}
.chrome_version {
  font-size: 48px;
}
.release {
  margin-bottom: $content-padding;
}
.release_title {
  margin-right: $content-padding;
}