// Note this is not a partial include because x-link uses shared.css directly.

@import "vars";

h1, h2, h3, h4 {
  font-weight: 300;
}
h1 {
  font-size: 30px;
}
h2, h3, h4 {
  color: #444;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
}
a {
  text-decoration: none;
  color: $chromium-color-center;
  &:hover {
    text-decoration: underline;
    color: $chromium-color-dark;
  }
}

b {
  font-weight: 600;
}

input:not([type="submit"]), textarea {
  border: 1px solid $bar-border-color;

  &[disabled] {
    opacity: 0.5;
  }
}

button, .button {
  display: inline-block;
  background: linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  border: 1px solid $gray-2;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-size: 10pt;
}

button:not(:disabled):hover {
  border-color: $gray-4;
}

button:not(:disabled):active {
  background: linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
}

.comma::after {
  content: ',\00a0';
}
