@import "vars";
@import "layout";

body[data-path*='upcoming'] {
  --app-drawer-width: 0;

  app-drawer {
    display: none;
  }

  #spinner {
    display: none;
  }

}

#drawer-column {
  display: none;
}

#content-column {
  overflow: hidden;
}

.hide-blink-checkbox {
  margin-right: 8px;
}

#subheader {
  max-width: 100%;
  justify-content: center;
}

#releases-section {
  overflow: hidden;
}

.timeline-controls {
  text-align: center;
  padding-bottom: $content-padding;
}

.animate {
  transition: margin .4s ease;
}

@media only screen and (min-width: 701px) {

  #content-column {
    padding-right: 2em;
  }
}