{% extends "_base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/blink.css?v={{app_version}}">
{% endblock %}

{% block drawer %}

{% endblock %}

{% block subheader %}
<div id="subheader">
  <div class="layout horizontal center">
    <div>
      <h2>Blink components</h2>
      <div>listing {{components|length}} components</div>
    </div>
    <a href="/admin/subscribers" class="view_owners_linke">List by owner &amp; their features →</a>
  </div>
  <div class="layout horizontal subheader_toggles">
    <!-- <paper-toggle-button> doesn't working here. Related links:
      https://github.com/PolymerElements/paper-toggle-button/pull/132 -->
    <label><input type="checkbox" class="paper-toggle-button">Edit mode</label>
  </div>
</div>
{% endblock %}

{% block content %}

<section>

{% comment %}
<!--<p>Start typing a component name:</p>
<input list="components" name="components" placeholder="{{components.0}}>Animation"></label>
<datalist id="components">
  {% for c in components %}
    <option value="{{c.name}}">{{c.name}}</option>
  {% endfor %}
</datalist>-->

<!--<template id="tmpl_owners_list">
  <select>
    {% for owner in owners %}
      <option class="owner_name" value="{{owner.id}}">{{owner.name}}</option>
    {% endfor %}
  </select>
</template>-->
{% endcomment %}

<ul id="components_list">
  {% for c in components %}
    <li class="layout horizontal" id="{{c.name}}">
      <div class="component_name">
        <div class="column_header">Component</div>
        <h3>{{c.name}}</h3>
        <!--{% for url in c.wf_urls %}
          <li>{{url.url}} (last updated: {{url.updatedOn}}</li>
        {% endfor %}-->
      </div>
      <div class="owners_list layout horizontal center">
        <div>
          <div class="column_header">Receives email updates:</div>
          <select multiple disabled id="owner_list_{{forloop.counter}}" size="{{c.computed_subscribers|length}}">
            {% for s in c.computed_subscribers %}
              <option class="owner_name {% if s.name in c.computed_owners %}component_owner{% endif %}"
                      value="{{s.id}}">{{s.name}}: {{s.email}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="owners_list_add_remove">
          <div>
            <select class="owner_candidates">
              <option selected disabled>Select owner to add/remove</option>
              {% for s in possible_subscribers %}
                <option class="owner_name" value="{{s.id}}" data-email="{{s.email}}">{{s.name}}</option>
              {% endfor %}
            </select><br>
            <label title="Toggles the user as an owner. If you click 'Remove' ans this is not checked, the user is removed from the component.">Owner? <input type="checkbox" class="is_primary_checkbox"></label>
          </div>
          <button class="add_owner_button" data-index="{{forloop.counter}}"
                  data-component-name="{{c.name}}">Add</button>
          <button class="remove_owner_button" data-index="{{forloop.counter}}"
                  data-component-name="{{c.name}}">Remove</button>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>

</section>

{% endblock %}

{% block js %}
<script nonce="{{nonce}}">
(function() {
'use strict';

document.querySelector('.paper-toggle-button').addEventListener('change', e => {
  e.stopPropagation();
  document.querySelector('#components_list').classList.toggle('editing', e.target.checked);
});

document.querySelector('#components_list').addEventListener('click', function(e) {
  const addUser = e.target.classList.contains('add_owner_button');
  const removeUser = e.target.classList.contains('remove_owner_button');

  if (!(addUser || removeUser)) {
    return;
  }

  const candidates = e.target.parentElement.querySelector('.owner_candidates');
  const primaryCheckbox = e.target.parentElement.querySelector('.is_primary_checkbox');
  const idx = e.target.dataset.index;
  const componentName = e.target.dataset.componentName;
  const userId = candidates.value;
  const selectedCandidate = candidates.selectedOptions[0];
  const username = selectedCandidate.textContent;
  const email = selectedCandidate.dataset.email;
  const toggleAsOwner = primaryCheckbox.checked;

  if (selectedCandidate.disabled) {
    alert('Please select a user');
    return;
  }

  // Add new item to owners list.
  const ownersList = this.querySelector(`#owner_list_${idx}`);
  const optionText = `${username}: ${email}`;
  const foundName = Array.from(ownersList.options).find(option => option.textContent === optionText);

  if (addUser) {
    // Don't try to add user if they're already in the list, and we're not
    // modifying their owner state.
    if (foundName && !toggleAsOwner) {
      return;
    }

    const option = document.createElement('option');
    option.value = userId;
    option.textContent = optionText;

    if (!foundName) {
      ownersList.appendChild(option);
    }

    if (toggleAsOwner) {
      const el = foundName || option;
      el.classList.add('component_owner');
    }
  } else if (removeUser && foundName) {
    if (toggleAsOwner) {
      foundName.classList.remove('component_owner');
    } else {
      foundName.remove(); // remove existing name.
    }
  }

  fetch('/admin/blink', {
    method: removeUser ? 'PUT' : 'POST',
    credentials: 'include',
    headers: {
        'X-Xsrf-Token': window.csClient.token,
    },
    body: JSON.stringify({
        userId,
        componentName,
        primary: toggleAsOwner
    })
  })
  .then(resp => resp.json())
  .then(json => {
    const Toast = document.querySelector('chromedash-toast');
    Toast.showMessage(`"${componentName}" updated.`);
    ownersList.size = ownersList.options.length;
    primaryCheckbox.checked = false;
  });
});

window.addEventListener('DOMContentLoaded', function(e) {
  if (location.hash) {
    setTimeout(function() {
      const el = document.getElementById(location.hash.slice(1));
      document.querySelector('app-header').scroll(0, el.offsetTop);
    }, 500);
  }
});

document.body.classList.remove('loading');

})();
</script>
{% endblock %}
