{% extends "base.html" %}
{% load verbatim %}
{% load inline_file %}

{% block html_imports %}
  <link rel="import" href="/static/elements/admin-imports{% if VULCANIZE %}.vulcanize{% endif %}.html">
{% endblock %}

{% block css %}
<style>{% inline_file "/static/css/blink.css" %}</style>
{% endblock %}

{% block drawer %}

{% endblock %}

{% block subheader %}
<div id="subheader">
  <h2>Blink component owners</h2>
  <ul class="layout horizontal">
    <li><a href="/admin/schedule">View Chrome releases</a></li>
  </ul>
</div>
{% endblock %}

{% block content %}

<section>

{% comment %}
<!--<p>Start typing a component name:</p>
<input list="components" name="components" placeholder="{{components.0}}>Animation"></label>
<datalist id="components">
  {% for c in components %}
    <option value="{{c.name}}">{{c.name}}</option>
  {% endfor %}
</datalist>-->

<!--<template id="tmpl_owners_list">
  <select>
    {% for owner in owners %}
      <option class="owner_name" value="{{owner.id}}">{{owner.name}}</option>
    {% endfor %}
  </select>
</template>-->
{% endcomment %}

<ul id="components_list">
  <div><b>Listing {{components|length}} components</b></div>
  {% for c in components %}
    <li class="layout horizontal center">
      <h3 class="component_name">{{c.name}}</h3>
      <div class="owners_list layout horizontal center">
        <div>
          <div>DevRel owners</div>
          <select multiple disabled id="owner_list_{{forloop.counter}}">
            {% for owner in c.owners %}
              <option class="owner_name" value="{{owner.id}}">{{owner.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="owners_list_add_remove">
          <select class="owner_candidates">
            <option selected disabled>Select owner to add/remove</option>
            {% for owner in owners %}
              <option class="owner_name" value="{{owner.id}}">{{owner.name}}</option>
            {% endfor %}
          </select>
          <button class="add_owner_button" data-index="{{forloop.counter}}"
                  data-component-name="{{c.name}}">Add</button>
          <button class="remove_owner_button" data-index="{{forloop.counter}}"
                  data-component-name="{{c.name}}">Remove</button>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>

</section>

{% endblock %}

{% block js %}
<script>
(function() {
'use strict';

const t = $('#t');

// // Update disabled state of buttons if name is in the list or not.
// function setButtons(eventOrTarget) {
//   const target = eventOrTarget.target || eventOrTarget;

//   if (!target.classList.contains('owner_candidates')) {
//     return;
//   }

//   const addUser = target.classList.contains('add_owner_button');
//   const removeUser = target.classList.contains('remove_owner_button');

//   const username = target.selectedOptions[0].textContent;
//   const ownersList = this.querySelector('.owners_list select');
//   const foundName = Array.from(ownersList.options).find(option => option.textContent === username);

//   const addButton = this.querySelector('.add_owner_button');
//   addButton.disabled = !!foundName;

//   const removeButton = this.querySelector('.remove_owner_button');
//   removeButton.disabled = !addButton.disabled;
// }

// $('#components_list').addEventListener('change', setButtons);

$('#components_list').addEventListener('click', function(e) {
  const addUser = e.target.classList.contains('add_owner_button');
  const removeUser = e.target.classList.contains('remove_owner_button');

  if (!(addUser || removeUser)) {
    return;
  }

  const candidates = e.target.parentElement.querySelector('.owner_candidates');
  const idx = e.target.dataset.index;
  const componentName = e.target.dataset.componentName;
  const userId = candidates.value;
  const selectedCandidate = candidates.selectedOptions[0];
  const username = selectedCandidate.textContent;

  if (selectedCandidate.disabled) {
    alert('Please select a user');
    return;
  }

  // Add new item to owners list.
  const ownersList = this.querySelector(`#owner_list_${idx}`);
  const foundName = Array.from(ownersList.options).find(option => option.textContent === username);
  let doFetch = false;

  if (addUser) {
    if (!foundName) {
      const option = document.createElement('option');
      option.value = userId;
      option.textContent = candidates.selectedOptions[0].textContent;
      ownersList.appendChild(option);
      doFetch = true;
    }
  } else if (removeUser && foundName) {
    foundName.remove(); // remove existing name.
    doFetch = true;
  }

  if (!doFetch) {
    return;
  }

  fetch('/admin/blink', {
    method: removeUser ? 'PUT' : 'POST',
    credentials: 'include',
    body: JSON.stringify({userId, componentName})
  })
  .then(resp => resp.json())
  .then(json => {
    const Toast = document.querySelector('chromedash-toast');
    if (addUser) {
      Toast.showMessage(`User added to "${componentName}" owners.`);
    } else if (removeUser)  {
      Toast.showMessage(`User removed from "${componentName}" owners.`);
    }

  });
});

document.body.classList.remove('loading');

})();
</script>
{% endblock %}
