{% extends "base.html" %}
{% load verbatim %}
{% load inline_file %}

{% block html_imports %}
  <link rel="import" href="/static/elements/admin-imports{% if VULCANIZE %}.vulcanize{% endif %}.html">
{% endblock %}

{% block css %}
<style>{% inline_file "/static/css/schedule.css" %}</style>
{% endblock %}

{% block drawer %}

{% endblock %}

{% block subheader %}
<div id="subheader">
  <h2>Current release snapshot</h2>
</div>
{% endblock %}

{% block content %}

<section>

<template id="t" is="dom-bind">

<div>
  {% verbatim %}

    <div class="releases layout horizontal">
      <section class="release">
        <div class="layout vertical center">
          <h1 class="channel_label">stable</h1>
          <h1 class="chrome_version layout horizontal center">
            <span class="chrome-logo"></span> Chrome [[channels.stable.version]]
          </h1>
        </div>
        <!--<div class="milestone_info layout horizontal center">
          <h2>Beta: <span class="release-beta">[[_computeDate(channels.stable.earliest_beta)]] - [[_computeDate(channels.stable.latest_beta)]]</span></h2>
        </div>-->
        <div class="milestone_info layout horizontal center">
          <h3><span class="channel_label">Shipped</span> [[_computeDate(channels.stable.stable_date)]]
            <span class="release-stable">( [[_computeDaysUntil(channels.stable.stable_date)]] )</span>
          </h3>
        </div>
      </section>
      <section class="release release-beta">
        <div class="layout vertical center">
          <h1 class="channel_label">beta</h1>
          <h1 class="chrome_version chrome_version--beta layout horizontal center">
            <span class="chrome-logo"></span> Chrome [[channels.beta.version]]
          </h1>
        </div>
        <div class="milestone_info layout horizontal center">
          <h3><span class="channel_label">Beta</span> <span class="milestone_info-beta">[[_computeDate(channels.beta.earliest_beta)]] - [[_computeDate(channels.beta.latest_beta)]]</span></h3>
        </div>
        <div class="milestone_info layout horizontal center">
          <h3><span class="channel_label">Stable</span> [[_computeDate(channels.beta.stable_date)]]
            <span class="release-stable">( [[_computeDaysUntil(channels.beta.stable_date)]] )</span>
          </h3>
        </div>
      </section>
      <section class="release">
        <div class="layout vertical center">
          <h1 class="channel_label">dev</h1>
          <h1 class="chrome_version chrome_version--dev layout horizontal center">
            <span class="chrome-logo"></span> Chrome [[channels.dev.version]]
          </h1>
        </div>
        <div class="milestone_info layout horizontal center">
          <h3><span class="channel_label">Beta</span> <span class="milestone_info-beta">[[_computeDate(channels.dev.earliest_beta)]] - [[_computeDate(channels.dev.latest_beta)]]</span></h3>
        </div>
        <div class="milestone_info layout horizontal center">
          <h3><span class="channel_label">Stable</span> [[_computeDaysUntil(channels.dev.stable_date)]]
            <span class="release-stable">( [[_computeDate(channels.dev.stable_date)]] )</span>
          </h3>
        </div>
      </section>
    </div>
  {% endverbatim %}
</div>

</template>

</section>

{% endblock %}

{% block js %}
<script>
(function() {
'use strict';

const PLACEHOLDER = '-';

async function getMilestoneInfo(version) {
  const resp = await fetch(`https://chromepmo.appspot.com/schedule/mstone/json?mstone=${version}`);
  const json = await resp.json();
  return json.mstones[0];
}

function currentChromeVersions(versions) {
  const channels = [];
  const winVersions = versions.filter(platform => platform.os === 'win')[0].versions;
  for (let i = 0, el; el = winVersions[i]; ++i) {
    channels[el.channel] = parseInt(el.version);
  }
  return channels;
}

function dateDiffInDays(a, b) {
  // Discard time and time-zone information.
  const utc1 = Date.UTC(a.getFullYear(), a.getMonth(), a.getDate());
  const utc2 = Date.UTC(b.getFullYear(), b.getMonth(), b.getDate());

  const MS_PER_DAY = 1000 * 60 * 60 * 24;
  const daysDiff = Math.floor((utc2 - utc1) / MS_PER_DAY);
  return {days: Math.abs(daysDiff), future: daysDiff < 1};
}

const t = $('#t');

t._computeDaysUntil = function(dateStr) {
  if (!dateStr) {
    return PLACEHOLDER;
  }

  const today = new Date();
  const diff = dateDiffInDays(new Date(dateStr), today);
  const prefix = diff.future ? 'in' : '';
  const days = diff.days > 1 ? 's' : '';
  const ago = !diff.future ? 'ago' : '';
  return `${prefix} ${diff.days} day${days} ${ago}`;
};

t._computeDate = function(dateStr) {
  if (!dateStr) {
    return PLACEHOLDER;
  }
  const opts = {weekday: 'short', month: 'short', day: 'numeric'};
  const date = new Date(dateStr);
  return new Intl.DateTimeFormat('en-US',  opts).format(date);
  // return new Date(dateStr).toLocaleDateString();
};

const versions = {{versions|safe}};
t.channels = {};

const currentVersions = currentChromeVersions(versions);

// console.log(currentVersions);

getMilestoneInfo(currentVersions.stable).then(milestone => {
  t.set('channels.stable', Object.assign({
    version: currentVersions.stable
  }, milestone));

  document.body.classList.remove('loading');
});

getMilestoneInfo(currentVersions.beta).then(milestone => {
  t.set('channels.beta', Object.assign({
    version: currentVersions.beta
  }, milestone));
});

getMilestoneInfo(currentVersions.dev).then(milestone => {
  t.set('channels.dev', Object.assign({
    version: currentVersions.dev
  }, milestone));
});

})();
</script>
{% endblock %}
