{% extends "_base.html" %}
{% load inline_file %}

{% block css %}
  <style>
    {% inline_file "/static/css/schedule.css" %}
    {% inline_file "/static/css/subscribers.css" %}
  </style>
{% endblock %}

{% block drawer %}

{% endblock %}

{% block subheader %}
<div id="subheader">
  <div>
    <h2>Feature owners</h2>
  </div>
  <a href="/admin/blink">Edit component owners →</a>
</div>
{% endblock %}

{% block content %}

<div id="channels" class="layout horizontal center">
  <div>
    <h3 class="channels-title" title="Select a version to only show features for that milestone">Show features in:</h3>
    <!-- <a href="?showFeatures">show all</a> | <a href="/admin/subscribers">hide all</a> -->
  </div>
  {% for key,channel in channels.items %}
    <div class="chrome_version layout horizontal center chrome_version--{{key}} {% if selected_milestone == channel.mstone %}highlight{% endif %}" title="Show only features for the current {{key}}">
      <a href="?showFeatures&amp;milestone={{channel.mstone}}" class="layout horizontal center">
        <div class="chrome-logo"></div>
        <!-- <span>{{key}}</span> -->
        <span class="milestone_number">{{channel.mstone}}</span>
      </a>
    </div>
  {% endfor %}
</div>

{% if selected_milestone %}
  <div class="filtering">Showing features in M{{selected_milestone}}. <a href="?showFeatures"><b>CLEAR MILESTONE ✘</b></a></div>
{% endif %}

<section>

<ul id="users_list">
  {% for s in subscribers %}
    <li>
      <div>
        <h3 class="user_name">{{s.name}}</h3>
        <h4><a href="mailto:{{s.email}}">{{s.email}}</a></h4>
      </div>
      <div class="component_list">
        {% for component in s.owned_components %}
          <div class="component">
            <h4><a href="/admin/blink#{{component.name}}" class="component_name">{{component.name}}</a></h4>
            {% if component.features|length %}
              <ol class="component_features">
                {% for feature in component.features %}
                  <li class="feature_name"><a href="/feature/{{feature.id}}">{{feature.name}}</a></li>
                {% endfor %}
              </ol>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </li>
  {% endfor %}
</ul>

</section>

{% endblock %}

{% block js %}
<script nonce="{{nonce}}">
(function() {
'use strict';

document.body.classList.remove('loading');

})();
</script>
{% endblock %}
