Hello! This is your friendly neighborhood <strong>automated reminder script</strong> here. I just ran on {{email_date}} and
identified the following facts:
<ul>
  <li>
    The next release to branch is <strong>M{{next_branch_milestone}}</strong>
    on {{next_branch_date}}.
  </li>
  <li>
    The current stable release is <strong>M{{stable_milestone}}</strong>
    as of {{stable_date}}.
  </li>
  <li>There are <strong>{{send_count}}</strong> emails sent.</li>
</ul>
Could you please double check my work and make sure I sent the right emails?
I'm looking forward to slowly replacing you through the
<strong>inexorable tide</strong> of automation!<br /><br />
<3<br /><br />
-Your future robot overlord
