According to go/chrome-schedule, Chrome {{release_milestone}} will soon arrive on the
beta channel.<br /><br />
Check that your feature ({{name}}) shows up correctly under the origin trials
section of the roadmap https://chromestatus.com/roadmap. This will automatically
get it included in the blog post about Chrome {{release_milestone}} beta, which
will go live on https://developer.chrome.com/tags/beta/. If you previously
published a blog post allowing developers to sign up for tokens for your
feature, this will be linked in the beta blog post.
{% include "origintrials/ot-process-reminders-ps.html" %}
