{% import 'email-styles.html' as styles %}
<div style="{{styles.body}}">
  <div style="{{styles.branding}}">{{APP_TITLE}}</div>

  <div style="{{styles.content}} {{styles.content_alert}}">
    <section id="details" style="{{styles.section}}">
      <p>
        All prerequisite reviews have been completed and you can now submit a
        request to create your origin trial. Click the "Request Trial Creation"
        button on the Origin Trial section of <a href="{{chromestatus_url}}"
        >your feature's detail page</a>.
      </p>
      <p>
        <strong>Note:</strong> Only feature owners signed in with a
        "chromium.org" or "google.com" domain email address will have access to
        the trial creation form, and at least 1 Googler contact is required
        during form submission to continue the trial creation process. If you
        have any questions or need assistance, reach out to <a
          href="mailto:origin-trials-support@google.com"
          >origin-trials-support@google.com</a>.
        <br><br>
        Thanks,<br>
        Origin Trials team
      </p>
    </section>
  </div>
</div>
  