According to go/chrome-schedule, Chrome {{release_milestone}} landed on the stable
channel one week ago. The branch point of Chrome {{after_end_release}} occurs
{{after_end_date}}, which will be the first release after the end of your
trial.<br /><br />
This is the point to be making the decision about what happens at the end of the
trial. Options include:
<ol>
  <li>Ship the feature, which requires an Intent to Ship</li>
  <li>Continue experimenting with the feature in a new trial, which requires an
  Intent to Continue Experimenting</li>
  <li>
    Let the origin trial finish and be disabled in Chrome {{after_end_release}}.
  </li>
</ol>
{% include "origintrials/ot-process-reminders-ps.html" %}
