According to go/chrome-schedule, Chrome {{release_milestone}} branch is
{{branch_date}}. This release will contain your feature as an origin trial.
<br /><br />
You should aim to post a blog post on https://developer.chrome.com/blog/ as
soon as possible so you can begin to get origin trials sign ups early
(which means you get feedback earlier!). If you are already working with
someone from Chrome Web Developer Relations they can help you with this.
Otherwise, reach out to chrome-devrel-content@google.com for help.
{% include "origintrials/ot-process-reminders-ps.html" %}
