{% extends "base.html" %}


{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/forms.css">
{% endblock %}

{% block subheader %}
<div id="subheader">
  <h2>Edit a feature</h2>
</div>
{% endblock %}

{% block content %}

<section>
  <form name="feature_form" method="POST" action="{{current_path}}">
      <table>
        {{ feature_form }}
        <tr><td colspan="2"><input type="submit" value="Submit"></td></tr>
      </table>
    </form>
</section>

{% endblock %}

{% block js %}
<script src="/static/js/admin/feature_form.js"></script>
{% endblock %}