{% extends "base.html" %}

{% block html_imports %}
  <link rel="import" href="/static/elements/delete-link.html">
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/forms.css">
<style>
a[is="delete-link"] {
  margin-left: 20px;
}
</style>
{% endblock %}

{% block subheader %}
<div id="subheader">
  <h2>Edit a feature</h2>
  {% if user.is_admin %}
     <a is="delete-link" href="/admin/features/delete/{{feature.id}}" message="Delete features?">Delete</a>
  {% endif %}
</div>
{% endblock %}

{% block content %}
<section>
  <form name="feature_form" method="POST" action="{{current_path}}">
    <table>
      {{ feature_form }}
      <tr><td colspan="2"><input type="submit" value="Submit"></td></tr>
    </table>
  </form>
</section>

{% endblock %}

{% block js %}
<script src="/static/js/admin/feature_form.js"></script>
{% endblock %}