{% extends "_base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/forms.css">
{% endblock %}

{% block drawer %}

{% endblock %}

{% block subheader %}
<div id="subheader">
  <h2>Add a feature</h2>
</div>
{% endblock %}

{% block content %}

<section>
  <form name="feature_form" method="POST" action="{{current_path}}">
    <table>
      {{ feature_form }}
      <tr><td colspan="2"><input type="checkbox" disabled name="email_owners_on_update" id="id_email_owners_on_update"><label for="id_email_owners_on_update">Email feature owner(s) when this data is updated.</label></td></tr>
    </table>

    <h3>Next steps for the Blink <a href="http://www.chromium.org/blink#launch-process">launch process</a>:</h3>
    <ul>
      <li><input type="checkbox" name="intent_to_implement" id="id_intent_to_implement"><label for="id_intent_to_implement">Generate "Intent to <span id="id_intent_stage_name"></span>" email on next page (you will copy &amp; paste it to send)</label></li>
      <li><input type="checkbox" name="create_launch_bug" disabled id="id_create_launch_bug"><label for="id_create_launch_bug">Generate a pre-populated launch-tracking bug link on the next page (you will file it manually)</label></li>
      <li></li>
    </ul>
    <input type="submit" value="Submit">
  </form>
</section>

{% endblock %}

{% block js %}
<script src="/static/js/admin/feature_form.js"></script>
{% endblock %}
