{% extends "base.html" %}

{% block subheader %}
<div id="subheader">
  <h2>Add a feature</h2>
</div>
{% endblock %}

{% block content %}

<section>
  <form name="feature_form" method="POST" action="{{current_path}}">
    <table>
      <!--<tr><th><label for="id_key_name">key_name:</label></th><td><input type="text" name="key_name" id="id_key_name" required /></td></tr>-->
      {{ feature_form }}
     <!--  <tr><th><label for="id_ff_views_link">Link:</label></th><td><input type="text" name="link" id="id_ff_views_link" name="ff_views_link" /></td></tr> -->
      <tr><td colspan="2"><input type="checkbox" disabled name="intent_to_implement" id="id_intent_to_implement"><label for="id_intent_to_implement">Generate intent-to-implement email for blink-dev (you'll copy/paste to send)</label></td></tr>
      <tr><td colspan="2"><input type="checkbox" disabled name="create_launch_bug" id="id_create_launch_bug"><label for="id_create_launch_bug">Automatically create a launch tracing bug</label></td></tr>
      <tr><td colspan="2"><input type="checkbox" disabled name="email_owners_on_update" id="id_email_owners_on_update"><label for="id_email_owners_on_update">Email feature's owner(s) when data is updated.</label></td></tr>
      <tr><td colspan="2"><input type="submit" value="Submit"></td></tr>
    </table>
  </form>
</section>

{% for f in features %}
<!--   <li><a href="/database/resource/{{r.key.id}}">[Edit]</a> &nbsp; <a href="{{r.url}}" target="_blank">{{r.title}}{% if r.subtitle %}: {{r.subtitle|safe}}{% endif %}</a> - {% for tag in r.tags %}{{tag}}{% if not forloop.last %}, {% endif %}{% endfor %} {% if r.draft %}&nbsp; <b>draft</b>{% endif %}</li> -->
<li>{{f.feature_name}}</li>
{% endfor %}

<script src="/static/js/admin/feature_form.js"></script>
{% endblock %}
