@import "base";

html, body {
  height: 100%;
}

body {
  color: var(--default-color);
  font: var(--default-font);
  background: var(--page-background);

  &.loading {
    #spinner {
      display: flex;
    }
  }
}

/* The following ones can be removed once switch to SPA
 * because these styles are included in <chromedash-app> */

#spinner {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 60%; // Centered, half that.
  // max-width: var(--max-content-width);
  width: 100%;
}

.main-toolbar {
  display: flex;
  position: relative;
  padding: 0;
}
.main-toolbar .toolbar-content {
  width: 100%;
}

#app-content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#content {
  margin: var(--content-padding);
  position: relative;
}

#content-flex-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

#content-component-wrapper {
  width: var(--max-content-width);
  max-width: 95%;
}

#rollout {
  width: 100%;
  text-align: center;
  padding: 1em;
  color: black;
  background: lightgrey;
}

@media only screen and (max-width: 700px) {
  #content {
    margin-left: 0;
    margin-right: 0;
  }

  // Make toast a bar that fills entire bottom of mobile screen.
  chromedash-toast {
    width: 100%;
    left: 0;
    margin: 0;
  }
}

@import 'fouc';
