<!-- For Wider View Ports with larger screen size -->
<ul class="metric-nav">
  <h3>All properties</h3>
  <li><a href="/metrics/css/popularity">Stack rank</a></li>
  <li><a href="/metrics/css/timeline/popularity">Timeline</a></li>
  <h3>Animated properties</h3>
  <li><a href="/metrics/css/animated">Stack rank</a></li>
  <li><a href="/metrics/css/timeline/animated">Timeline</a></li>
</ul>

<!-- For Narror ViewPorts with small screen size -->
<div id="horizontal-sub-nav">
  <table>
    <tr>
      <nav class="data-panel">
        <td>View All Properties As:</td>
        <td>
          <a href="/metrics/css/timeline/popularity" class="sub-nav-links">Timeline</a> |
          <a href="/metrics/css/popularity"  class="sub-nav-links">Stack Rank</a>
        </td>
      </nav>
    </tr>
  
    <tr>
      <nav class="data-panel">
        <td>View Animated Properties As:</td>
        <td>
          <a href="/metrics/css/timeline/animated" class="sub-nav-links">Timeline</a> |
          <a href="/metrics/css/animated"  class="sub-nav-links">Stack Rank</a>
        </td>
      </nav>
    </tr>
  </table>
</div>
