{% extends "base.html" %}
{% load inline_file %}

{% block css %}
<!-- <link rel="stylesheet" href="/static/css/metrics/metrics.css"> -->
<style>{% inline_file "/static/css/metrics/metrics.css" %}</style>
{% endblock %}

{% block preload %}
<script type="module">
  import '/static/elements/chromedash-metrics.js';
</script>
{% endblock %}

{% block drawer %}
  {% include "metrics/css/_css_metric_nav.html" %}
{% endblock %}

{% block subheader %}
<div id="subheader">
  <h2>CSS usage &gt; all properties > stack rank</h2>
</div>
{% endblock %}

{% block content %}
<div class="data-panel">
  <h3>About this data</h3>
  <p class="description">
    We've been using Chrome's <a href="https://cs.chromium.org/chromium/src/tools/metrics/histograms/enums.xml" target="_blank">anonymous usage statistics</a> to count the occurrences of certain CSS features in the wild. The numbers on this page indicate the <b>percentages of Chrome page loads (across all channels and platforms) that use the corresponding CSS property at least once</b>. Data is ~24 hrs old.</p>
  <chromedash-metrics type="css" view="popularity" {% if prod %}prod{% endif %}></chromedash-metrics>
</div>
{% endblock %}

{% block js %}
<script>
  (function() {
    'use strict';
    {% inline_file "/static/js/metrics-page.min.js" %}
  })();
</script>
{% endblock %}
