<p>
  You are receiving this notification because you are listed as an owner of the following ChromeStatus feature entry:
</p>
</br>
<p>
  <strong>{{feature.name}}</strong>
</p> 
</br>
<p>
  Your feature is slated to launch soon for m{{milestone}}:
</p>
</br>
<p>
  {{ estimated_milestone_tables | safe }}
</p>
</br>
<p>
  Your feature entry is an important resource for
  cross functional teams that help drive adoption of new features and
  enterprise IT admins who might be affected by web platform changes.
</p>
</br>
<p>
  We need to know whether your plans are changing or staying
  the same. <strong>Please click the link below to update and confirm key
  fields of your feature entry.</strong>
</p>
</br>
<b><a href="{{site_url}}guide/verify_accuracy/{{feature.id}}">
  {{site_url}}guide/verify_accuracy/{{feature.id}}
</a></b>
