{% if feature.shipped_milestone or feature.ot_milestone_desktop_end or feature.ot_milestone_desktop_start or feature.dt_milestone_desktop_start or feature.shipped_android_milestone or feature.ot_milestone_android_end or feature.ot_milestone_android_start or feature.dt_milestone_android_start or feature.shipped_ios_milestone or feature.dt_milestone_ios_start or feature.shipped_webview_milestone or feature.ot_milestone_webview_end or feature.ot_milestone_webview_start %}

  <table>

    {% if feature.shipped_milestone %}
      <tr><td>Shipping on desktop</td>
      <td>{{feature.shipped_milestone}}</td></tr>
    {% endif %}

    {% if feature.ot_milestone_desktop_end %}
      <tr><td>OriginTrial desktop last</td>
      <td>{{feature.ot_milestone_desktop_end}}</td></tr>
    {% endif %}

    {% if feature.ot_milestone_desktop_start %}
      <tr><td>OriginTrial desktop first</td>
      <td>{{feature.ot_milestone_desktop_start}}</td></tr>
    {% endif %}

    {% if feature.dt_milestone_desktop_start %}
      <tr><td>DevTrial on desktop</td>
      <td>{{feature.dt_milestone_desktop_start}}</td></tr>
    {% endif %}

  </table>

  <table>

    {% if feature.shipped_android_milestone %}
      <tr><td>Shipping on Android</td>
      <td>{{feature.shipped_android_milestone}}</td></tr>
    {% endif %}

    {% if feature.ot_milestone_android_end %}
      <tr><td>OriginTrial android last</td>
      <td>{{feature.ot_milestone_android_end}}</td></tr>
    {% endif %}

    {% if feature.ot_milestone_android_start %}
      <tr><td>OriginTrial android first</td>
      <td>{{feature.ot_milestone_android_start}}</td></tr>
    {% endif %}

    {% if feature.dt_milestone_android_start %}
      <tr><td>DevTrial on android</td>
      <td>{{feature.dt_milestone_android_start}}</td></tr>
    {% endif %}

  </table>


  <table>

    {% if feature.shipped_webview_milestone %}
      <tr><td>Shipping on Webview</td>
      <td>{{feature.shipped_webview_milestone}}</td></tr>
    {% endif %}

    {% if feature.ot_milestone_webview_end %}
      <tr><td>OriginTrial webview last</td>
      <td>{{feature.ot_milestone_webview_end}}</td></tr>
    {% endif %}

    {% if feature.ot_milestone_webview_start %}
      <tr><td>OriginTrial webview first</td>
      <td>{{feature.ot_milestone_webview_start}}</td></tr>
    {% endif %}

  </table>


  <table>

    {% if feature.shipped_ios_milestone %}
      <tr><td>Shipping on iOS</td>
      <td>{{feature.shipped_ios_milestone}}</td></tr>
    {% endif %}

    {% if feature.dt_milestone_ios_start %}
      <tr><td>DevTrial on iOS</td>
      <td>{{feature.dt_milestone_ios_start}}</td></tr>
    {% endif %}

  </table>

{% else %}

  <p>No milestones specified</p>

{% endif %}
