{% extends "base.html" %}
{% load inline_file %}

{% block page_title %}{% if feature.name %}{{ feature.name }} - {% endif %}{% endblock %}

{% block meta %}
{% if feature.summary %}
<meta name="description" content="{{ feature.summary }}">
{% endif %}
{% endblock %}

{% block css %}
<!-- <link rel="stylesheet" href="/static/css/features/feature.css"> -->
<style>{% inline_file "/static/css/features/feature.css" %}</style>
{% endblock %}

{% block rss %}
<link rel="alternate" type="application/rss+xml" href="http://www.chromestatus.com/features.xml" title="All features" />
{% endblock %}

{% block html_imports %}
<link rel="import" href="/static/elements/features-imports{% if VULCANIZE %}.vulcanize{% endif %}.html">
{% endblock %}

{% block content %}
<div id="feature">
  <section id="name">
    <h2>
      {{ feature.name }}
      {% if feature.impl_status_chrome == "Deprecated" or feature.impl_status_chrome == "No longer pursuing" %} (deprecated){% endif %}
      {% if feature.impl_status_chrome == "Removed" %} (removed){% endif %}
    </h2>
    <div class="iconrow">
    <a href="/features#category: {{ feature.category }}" class="category">{{ feature.category }}</a>
    <div class="topcorner">
    {% if feature.meta.origintrial %}
    <span class="tooltip" title="Origin trial">
      <iron-icon icon="chromestatus:extension" class="experimental"></iron-icon>
    </span>
    {% endif %}
    <span class="tooltip" title="File a bug against this feature">
      <a href="{{ feature.new_crbug_url }}" class="newbug" data-tooltip>
        <iron-icon icon="chromestatus:bug-report"></iron-icon>
      </a>
    </span>
    {% if user.is_whitelisted %}
    <span class="tooltip" title="Edit this feature">
      <a href="/admin/features/edit/{{ feature.id }}" class="editfeature" data-tooltip>
        <iron-icon icon="chromestatus:create"></iron-icon>
      </a>
    </span>
    {% endif %}
    </div>
    </div>
  </section>

  {% if feature.summary %}
  <section id="summary">
    <p>{{ feature.summary }}</p>
  </section>
  {% endif %}

  {% if feature.comments %}
  <section id="comments">
    <h3>Comments</h3>
    <p>{{ feature.comments|urlize }}</p>
  </section>
  {% endif %}

  {% if feature.sample_links %}
  <section id="demo">
    <h3>{% if feature.sample_links|length == 1 %}Demo{% else %}Demos{% endif %}</h3>
    <ul>
      {% for sample_link in feature.sample_links %}
      <li><a href="{{ sample_link }}">{{ sample_link }}</a></li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}

  {% if feature.doc_links %}
  <section id="documentation">
    <h3>Documentation</h3>
    <ul>
      {% for doc_link in feature.doc_links %}
      <li><a href="{{ doc_link }}">{{ doc_link }}</a></li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}

  {% if feature.spec_link %}
  <section id="specification">
    <h3>Specification</h3>
    <p><a href="{{ feature.spec_link }}">{{ feature.standardization.text }}</a></p>
  </section>
  {% endif %}

  <section id="status">
    <h3>Status in Chromium</h3>
    <p>
      {% if feature.shipped_milestone or feature.shipped_android_milestone or feature.shipped_ios_milestone or feature.shipped_webview_milestone or feature.shipped_opera_milestone or shipped_opera_android_milestone %}
        <b>
        {% if feature.meta.origintrial %}
          Origin trial
        {% else %}
          {% if feature.meta.needsflag %}
            Behind a flag
          {% elif feature.impl_status_chrome == "Deprecated" or feature.impl_status_chrome == "No longer pursuing" %}
            Deprecated
          {% elif feature.impl_status_chrome == "Removed" %}
            Removed
          {% else %}
            Enabled by default
          {% endif %}
        {% endif %}
        </b>
        {% if feature.bug_url %}
        (<a href="{{ feature.bug_url }}">launch bug</a>)
        {% endif %}
        in:
        <ul>
        {% if feature.shipped_milestone %}
        <li>Chrome for desktop release {{ feature.meta.milestone_str }}</li>
        {% endif %}
        {% if feature.shipped_android_milestone %}
        <li>Chrome for Android release {{ feature.shipped_android_milestone }}</li>
        {% endif %}
        {% if feature.shipped_ios_milestone %}
        <li>Chrome for iOS release {{ feature.shipped_ios_milestone }}</li>
        {% endif %}
        {% if feature.shipped_webview_milestone %}
        <li>Android WebView release {{ feature.shipped_webview_milestone }}</li>
        {% endif %}
        {% if feature.shipped_opera_milestone %}
        <li>Opera release {{ feature.shipped_opera_milestone }}</li>
        {% endif %}
        {% if feature.shipped_opera_android_milestone %}
        <li>Opera for Android release {{ feature.shipped_opera_android_milestone }}</li>
        {% endif %}
        </ul>
      {% else %}
        {{ feature.meta.milestone_str }}
        {% if feature.bug_url %}
        (<a href="{{ feature.bug_url }}">launch bug</a>)
        {% endif %}
      {% endif %}
    </p>
  </section>

  <section id="consensus">
    <h3>Consensus &amp; Standardization</h3>
    <ul>
      {% if feature.ff_views %}
      <li>
        <label>Firefox:</label>
        {% if feature.ff_views_link %}
        <a href="{{ feature.ff_views_link }}">{{ feature.ff_views.text }}</a>
        {% else %}
        {{ feature.ff_views.text }}
        {% endif %}
      </li>
      {% endif %}

      {% if feature.ie_views %}
      <li>
        <label>Edge:</label>
        {% if feature.ie_views_link %}
        <a href="{{ feature.ie_views_link }}">{{ feature.ie_views.text }}</a>
        {% else %}
        {{ feature.ie_views.text }}
        {% endif %}
      </li>
      {% endif %}

      {% if feature.safari_views %}
      <li>
        <label>Safari:</label>
        {% if feature.safari_views_link %}
        <a href="{{ feature.safari_views_link }}">{{ feature.safari_views.text }}</a>
        {% else %}
        {{ feature.safari_views.text }}
        {% endif %}
      </li>
      {% endif %}

      <li><label>Web Developers:</label> {{ feature.web_dev_views.text }}</li>
    </ul>
  </section>

  {% if feature.owner %}
  <section id="owner">
    <h3>{% if feature.owner|length == 1 %}Owner{% else %}Owners{% endif %}</h3>
    <ul>
      {% for owner in feature.owner %}
        <li><a href="mailto:{{ owner }}">{{ owner }}</a></li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}

  <section id="updated">
    <p>Last updated on {{ feature.updated_display }}</p>
  </section>
</div>
{% endblock %}


{% block js %}
<script>
// Remove loading spinner at page load.
document.body.classList.remove('loading');
</script>
{% endblock %}
