{% extends "_base.html" %}
{% load inline_file %}

{% block page_title %}{% if feature.name %}{{ feature.name }} - {% endif %}{% endblock %}

{% block meta %}
  {% if feature.summary %}
    <meta name="description" content="{{ feature.summary }}">
  {% endif %}
{% endblock %}

{% block rss %}
  <link rel="alternate" type="application/rss+xml" href="https://chromestatus.com/features.xml" title="All features" />
{% endblock %}

{% block content %}
  {# TODO(kevinshen56714): get feature_id and context_link from SPA router #}
  <chromedash-feature-page
    featureId='{{ feature_id }}'
    contextLink='{{ context_link }}'>
  </chromedash-feature-page>
  
  {# TODO(kevinshen56714): move the approvals-dialog to the SPA index page #}
  {% if user and user.can_approve %}
    <chromedash-approvals-dialog 
      signedInUser="{{user.email}}">
    </chromedash-approvals-dialog>
  {% endif %}
{% endblock %}
