{% extends "base.html" %}

{% load inline_file %}
{% load cache %}

{% block rss %}
  <link rel="alternate" type="application/rss+xml" href="https://www.chromestatus.com/features.xml" title="All features" />
  {% cache TEMPLATE_CACHE_TIME rssfeed %}
    {% for k,v in categories %}
    <link rel="alternate" type="application/rss+xml"
          href="https://www.chromestatus.com/features.xml?category={{v}}" title='"{{k}}" features'>
    {% endfor %}
  {% endcache %}
{% endblock %}

{% block css %}
  <!-- <link rel="stylesheet" href="/static/css/features/features.css"> -->
  {% cache TEMPLATE_CACHE_TIME featurescss %}
    <style>{% inline_file "/static/css/features/features.css" %}</style>
  {% endcache %}
{% endblock %}

{% block preload %}
  <script type="module">
    import '/static/elements/chromedash-featurelist.js';
  </script>
{% endblock %}

{% block subheader %}
  <div id="subheader">
    <div class="feature-count">
      <h2>Features: <span class="num-features"></span></h2>
    </div>
    <div class="search">
      <input type="search" placeholder="Filter" disabled>
      <a href="" class="legend"><iron-icon icon="chromestatus:help"></iron-icon></a>
    </div>
    <div class="actionlinks">
      <a id="features-subscribe-button" class="blue-button no-push-notifications" title="Sends a push notification when new features are added."><iron-icon icon="chromestatus:notifications-off"></iron-icon><span>Subscribe</span></a>
      {% if user.is_whitelisted %}
        <a href="/admin/features/new" class="blue-button" title="Adds a new feature to the site"><iron-icon icon="chromestatus:add-circle-outline"></iron-icon><span>Add new feature</span></a>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block drawer %}
  <h3>Chrome versions</h3>
  {% cache TEMPLATE_CACHE_TIME chromedashmetadata %}
  <chromedash-metadata
    impl-statuses='{{IMPLEMENTATION_STATUSES|safe}}'
    status='{
      "NO_ACTIVE_DEV": 1,
      "PROPOSED": 2,
      "IN_DEVELOPMENT": 3,
      "BEHIND_A_FLAG": 4,
      "ENABLED_BY_DEFAULT": 5,
      "DEPRECATED": 6,
      "REMOVED": 7,
      "IN_EXPERIMENTAL_FRAMEWORK": 8,
      "NO_LONGER_PURSUING": 1000
    }'></chromedash-metadata>
  {% endcache %}
{% endblock %}

{% block overlay %}
  <chromedash-legend hidden></chromedash-legend>
{% endblock %}

{% block content %}
  <chromedash-featurelist {% if user.is_whitelisted %}whitelisted{% endif %}></chromedash-featurelist>
{% endblock %}

{% block js %}
  <script>
    (function() {
    'use strict';
      // Get values from server. used in /static/js/features.js
      const VIEWS = {
        vendors: {{VENDOR_VIEWS|safe}},
        webdevs: {{WEB_DEV_VIEWS|safe}},
        standards: {{STANDARDS_VALS|safe}}
      };
      {% inline_file "/static/js/notifications.js" %}
      {% inline_file "/static/js/features.es6.min.js" %}
    })();
  </script>
{% endblock %}
