<header>
  <aside>
    <iron-icon icon="chromestatus:menu" drawer-toggle></iron-icon>
    <hgroup>
      <a href="/features" target="_top"><h1>{{APP_TITLE}}</h1></a>
      <!--<span>feature support, releases, usage metrics</span>-->
    </hgroup>
  </aside>
  <nav>
    <a href="/features">All features</a>
    <a href="/features/schedule">Releases</a>
    <a href="/samples" class="features">Samples</a>
    <div class="nav-dropdown-container">
      <a class="nav-dropdown-trigger">Stats</a>
      <ul>
        <li><a href="/metrics/css/popularity">CSS</a></li>
        <li><a href="/metrics/feature/popularity">JS/HTML</a></li>
      </ul>
    </div>
  </nav>
</header>
