<header>
  <aside>
    <!-- <img src="/static/img/chromium-128.png" alt="Chromium Logo"> -->
    <hgroup>
      <h1>{{APP_TITLE}}</h1>
      <span>a status of what we're up to</span>
    </hgroup>
  </aside>
<!--   <nav>
    <a href="/features" class="features">Features</a>
    <a href="/metrics" class="metrics disabled">Metrics</a>
  </nav> -->
</header>
<div class="warning">
  <b>March 6, 2013</b>: This dashboard is under construction. For an older snapshot of some of this data see <a href="https://sites.google.com/a/chromium.org/dev/developers/web-platform-status" target="_blank">Web Platform Status</a>. For more info, read our <a href="https://groups.google.com/a/chromium.org/d/topic/chromium-dev/E6lCV7diafU/discussion" target="_blank">chromium-dev announcement of this dashboard</a>. The raw spreadsheet data is <a href="https://docs.google.com/spreadsheet/ccc?key=0AjGgk26K1Cc-dFdfUlRQRWtjUm5XdjB4cmFGWjhTZmc#gid=0" target="_blank">here</a>.
</div>