<header>
  <aside>
    <hgroup>
      <a href="/features" target="_top"><h1>{{APP_TITLE}}</h1></a>
      <!--<span>feature support, releases, usage metrics</span>-->
    </hgroup>
  </aside>
  <nav>
    <div style="flex:0.2"></div>
    <a href="/features">All features</a>
    <a href="/features/schedule">Releases</a>
    <a href="/samples" class="features">Samples</a>
    <div class="nav-dropdown-container">
      <a class="nav-dropdown-trigger">Stats
        <iron-icon icon="chromestatus:arrow-drop-down"></iron-icon>
      </a>
      <ul>
        <li><a href="/metrics/css/popularity">CSS</a></li>
        <li><a href="/metrics/feature/popularity">JS/HTML</a></li>
      </ul>
    </div>

    <div style="flex:1"></div>

    {% if user %}
      <div class="nav-dropdown-container">
        <a class="nav-dropdown-trigger">
          {{user.email}}
          <iron-icon icon="chromestatus:arrow-drop-down"></iron-icon>
        </a>
        <ul>
          <li><a href="/settings">Settings</a></li>
          <li><a href="#" id="sign-out-link">Sign out</a></li>

        </ul>
      </div>
    {% else %}
      <li><div class="g-signin2" data-onsuccess="onSignIn"></div></li>
    {% endif %}


  </nav>
</header>

{% if user %}
  <script nonce="{{nonce}}">
    const signOutEl = document.querySelector('#sign-out-link');
    if (signOutEl) {
        signOutEl.addEventListener('click', (e) => {
            e.preventDefault();
            signOut();
        });
    }
  </script>
{% endif %}
