{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/metrics/metrics.css">
{% endblock %}

{% block js %}
<script src="/static/js/metrics/mostPopular.js"></script>
{% endblock %}

{% block subheader %}
<div id="subheader">
  <h1>CSS Property Usage</h1>
</div>
{% endblock %}

{% block content %}

{% include "metrics/_nav.html" %}

<section>
<p>CSS Properties in order of calls made to each property. Currently counting all calls, including the user agent style sheet. Per-page stats, excluding the user agent style sheet to come soon!</p>

<h3>About this data</h3>

<p>We've been using Chrome's <a href="https://chromium.googlesource.com/chromium/blink/+/master/Source/core/page/UseCounter.h" target="_blank">anonymous opt-in usage statistics</a> to count the occurrences
of certain CSS features in the wild. The numbers on this page indicate the <b>percentages of sampled webpages that use the corresponding CSS property at least once</b>.</p>
<p>Note that the counting code was only recently submitted to Chromium, so we only have usage statistics from the Canary and Dev channels. In the coming weeks the data from Beta and then Stable users will start flowing in.
</p>
</section>

<!-- NOT COMPLETE. Depends on stack. -->
<!--
<section><h1>Most Popular</h1>
<p>Top 10 CSS Properties by percentage of pages which use each property. Statistics excluding the user agent style sheet to come soon!</p>
</section>-->

{% endblock %}
