{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/metrics/metrics.css">
{% endblock %}

{% block js %}
<script src="/static/js/metrics/mostPopular.js"></script>
{% endblock %}

{% block content %}

{% include "metrics/_nav.html" %}

<section>
<h1>CSS Property Usage</h1>
<p>CSS Properties in order of calls made to each property. Currently counting all calls, including the user agent style sheet. Per-page stats, excluding the user agent style sheet to come soon!</p>
<p>We've been using Chrome's anonymous opt-in usage statistics to count the frequency of CSS features on the web. The numbers in this {chart,graph} indicate the percent of webpages that use each CSS property at least once.</p>

<p>Source: https://chromium.googlesource.com/chromium/blink/+/master/Source/core/page/UseCounter.h</p>
</section>

<!-- NOT COMPLETE. Depends on stack. -->
<!--
<section><h1>Most Popular</h1>
<p>Top 10 CSS Properties by percentage of pages which use each property. Statistics excluding the user agent style sheet to come soon!</p>
</section>-->

{% endblock %}
