{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/metrics/metrics.css">
{% endblock %}

{% block js %}
{% endblock %}

{% block html_imports %}
  <link rel="import" href="/static/elements/chromedash-metrics.html">
{% endblock %}

{% block subheader %}
<div id="subheader">
  <h2>CSS Property Usage &gt; Popularity</h2>
</div>
{% endblock %}

{% block content %}
<section id="panels">
{% include "metrics/_nav.html" %}
<div class="data-panel">
  <div>
    <h3>About this data</h3>
    <p class="description">We've been using Chrome's <a href="https://chromium.googlesource.com/chromium/blink/+/master/Source/core/page/UseCounter.h" target="_blank">anonymous opt-in usage statistics</a> to count the occurrences of certain CSS features in the wild. The numbers on this page indicate the <b>percentages of sampled webpages that use the corresponding CSS property at least once</b>. Data is 24 hrs old.</p>
  </div>
  <chromedash-metrics></chromedash-metrics>
</div>
</section>

{% endblock %}
