{% extends "_base.html" %}
{% load inline_file %}

{% block css %}
{% endblock %}

{% block subheader %}
<div id="subheader">
  <h2>My features</h2>
</div>
{% endblock %}

{% block content %}

<chromedash-myfeatures
  {% if user %} signedinuser="{{user.email}}" {% endif %}
  {% if user.can_edit %} canedit {% endif %}
  {% if user.can_approve %} canapprove {% endif %}
  >
</chromedash-myfeatures>

{% endblock %}

{% block js %}
<script nonce="{{nonce}}">
    (function() {
      'use strict';

      {% inline_file "/static/js/myfeatures-page.min.js" %}
    })();
</script>
{% endblock %}
