<section id="context">
  <div>
    <b>New</b> feature entry:<br/>
    <a class="feature-name" href="{{SITE_URL}}feature/{{id}}"
          >{{feature.name}}</a>
  </div>
</section>
<br/>


<section id="details">
  <div><b>New details entered by {{feature.creator_email}}:</div>

  <table>
    <tr>
      <td>Summary:</td>
      <td>{{feature.summary}}</td>
    </tr>
    <tr>
      <td>Unlisted:</td>
      <td>{% if feature.unlisted %}Yes{% else %}No{% endif %}</td>
    </tr>
    <tr>
      <td>Breaking change:</td>
      <td>{% if feature.breaking_change %}Yes{% else %}No{% endif %}</td>
    </tr>
    <tr>
      <td>Feature owners:</td>
      <td>{{feature.owner_emails|join(", ")}}</td>
    </tr>
    <tr>
      <td>Cc:</td>
      <td>{{feature.cc_emails|join(", ")}}</td>
    </tr>
    <tr>
      <td>Blink component:</td>
      <td>{{feature.blink_components|join(", ")}}</td>
    </tr>
    <tr>
      <td>Category:</td>
      <td>{{category}}</td>
    </tr>
    <tr>
      <td>Feature type:</td>
      <td>{{feature_type}}</td>
    </tr>
  </table>
</section>


<section id="next-steps">
  <div><b>Your next steps:</b></div>
  <div><a href="{{SITE_URL}}feature/{{id}}"
     class="button-like"
     >View feature details</a></div>
</section>
