{% import 'email-styles.html' as styles %}
<div style="{{styles.body}}">
<div style="{{styles.branding}}">{{APP_TITLE}}</div>

<div style="{{styles.content}} {{styles.content_updated}}">

<section id="context" style="{{styles.section}}">
  <table>
    <tr>
      <td rowspan=2>{{styles.icon_updated()}}</td>
      <td><b>Comment posted</b> on feature entry:</td>
    </tr>
    <tr>
      <td><a style="{{styles.feature_name}}"
             href="{{SITE_URL}}feature/{{id}}"
             >{{feature.name}}</a>
      </td>
    </tr>
  </table>
</section>

<section id="details" style="{{styles.section}}">
  <div><b>A comment was added to this feature:</b></div>
  <div style="{{styles.comment}}">
    <div><b>{{triggering_user_email}}</b></div>
    <div style="{{styles.comment_content}}">{{content}}</div>
  </div>
</section>

<section id="next-steps" style="{{styles.section}}">
  <div><b>Your next steps:</b></div>
  <div style="{{styles.button_div}}">
    <a href="{{gate_url}}" style="{{styles.button_a}}"
     >View feature details</a></div>
</section>

</div>
</div>
