<section id="context">
  <div>
    <b>Comment posted</b> on feature entry:<br/>
    <a class="feature-name" href="{{SITE_URL}}feature/{{id}}"
          >{{feature.name}}</a>
  </div>
</section>
<br/>


<section id="details">
  <div><b>A comment was added to this feature:</b></div>
  <div>
    <div><b>{{triggering_user_email}}</b></div>
    <div>{{content}}</div>
  </div>
</section>


<section id="next-steps">
  <div><b>Your next steps:</b></div>
  <div><a href="{{gate_url}}"
     class="button-like"
     >View feature details</a></div>
</section>
