{% extends "_base.html" %}
{% load inline_file %}

{% block rss %}
  <link rel="alternate" type="application/rss+xml" href="http://www.chromestatus.com/samples.xml" title="All samples" />
{% endblock %}

{% block css %}
  <style>{% inline_file "/static/css/samples.css" %}</style>
{% endblock %}

{% block drawer %}
  <h3>Category filter</h3>
  <paper-listbox id="papermenu">
  {% for k,v in CATEGORIES %}
    {% if v != 'webcomponents' %}
      <paper-item data-category="{{v}}">
        <iron-icon icon="chromestatus:{{v}}"></iron-icon>{{k}}
        <paper-ripple></paper-ripple>
      </paper-item>
    {% endif %}
  {% endfor %}
  </paper-listbox>
{% endblock %}

{% block subheader %}
  <div id="subheader">
    <div class="feature-count">
      <h2>Samples: <span class="num-features"></span></h2>
    </div>
    <div class="search">
      <input type="search" placeholder="Search">
    </div>
    <div class="actionlinks">
      <a href="https://github.com/GoogleChrome/samples"
         target="_blank" rel="noopener" class="blue-button">
        <iron-icon src="/static/img/github-white.png"></iron-icon>Fork on Github
      </a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="subheader">
    <p class="description">Features are ordered by Chrome release version, latest first. Features
    enabled by default always come first, followed by features that are origin trials,
    behind a flag or still in the development.</p>
  </div>

  <chromedash-sample-panel></chromedash-sample-panel>
{% endblock %}

{% block js %}
  <script>
    (function() {
      'use strict';
      const CATEGORIES = {{categories|safe}};

      {% inline_file "/static/js/samples-page.min.js" %}
    })();
  </script>
{% endblock %}
