{% extends "base.html" %}
{% load verbatim %}
{% load inline_file %}

{% block rss %}
  <link rel="alternate" type="application/rss+xml" href="http://www.chromestatus.com/samples.xml" title="All samples" />
{% endblock %}

{% block css %}
  <style>{% inline_file "/static/css/samples.css" %}</style>
{% endblock %}

{% block preload %}
  <script type="module">
    import 'https://unpkg.com/@polymer/paper-listbox/paper-listbox.js?module';
    import 'https://unpkg.com/@polymer/paper-ripple/paper-ripple.js?module';
    import 'https://unpkg.com/@polymer/paper-item/paper-item.js?module';
    import 'https://unpkg.com/@polymer/iron-icon/iron-icon.js?module';
    import '/static/elements/chromedash-sample-panel.js';
  </script>
{% endblock %}

{% block drawer %}
  <h3>Category filter</h3>
  {% verbatim %}
  <paper-listbox id="papermenu">
  {% endverbatim %}
  {% for k,v in CATEGORIES %}
    {% if v != 'webcomponents' %}
      <paper-item data-category="{{v}}">
        <iron-icon icon="chromestatus:{{v}}"></iron-icon>{{k}}
        <paper-ripple></paper-ripple>
      </paper-item>
    {% endif %}
  {% endfor %}
  </paper-listbox>
{% endblock %}

{% block subheader %}
  <div id="subheader">
    <div class="feature-count">
      <h2>Samples: <span class="num-features"></span></h2>
    </div>
    <div class="search">
      <input type="search" placeholder="Search">
    </div>
    <div class="actionlinks">
      <a href="https://github.com/GoogleChrome/samples" target="_blank" class="blue-button">
        <iron-icon src="/static/img/github-white.png"></iron-icon>Fork on Github
      </a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="subheader">
    <p class="description">Features are ordered by Chrome release version, latest first. Features
    enabled by default always come first, followed by features that are origin trials,
    behind a flag or still in the development.</p>
  </div>

  <chromedash-sample-panel></chromedash-sample-panel>
{% endblock %}

{% block js %}
  <script>
    (function() {
      'use strict';
      const CATEGORIES = {{categories|safe}};

      {% inline_file "/static/js/samples-page.min.js" %}
    })();
  </script>
{% endblock %}
