{% extends "base.html" %}
{% load verbatim %}
{% load inline_file %}

{% block css %}
  <style>{% inline_file "/static/css/schedule.css" %}</style>
{% endblock %}

{% block preload %}
  <script type="module">
    import 'https://unpkg.com/@polymer/paper-toggle-button/paper-toggle-button.js?module';
    import '/static/elements/chromedash-schedule.js';
  </script>
{% endblock %}

{% block subheader %}
  <div id="subheader">
    <!--<h2>Chrome release timeline</h2>-->
    <div style="flex:1">
      <h3>Release timeline</h3>
      <p class="description">Please note, all dates are estimates and are subject to change.</p>
    </div>
    <paper-toggle-button noink>Hide Blink components</paper-toggle-button>
  </div>
{% endblock %}

{% block content %}
  <section id="releases-section">
    <chromedash-schedule></chromedash-schedule>
  </section>
{% endblock %}

{% block js %}
  <script>
    (function() {
      'use strict';
      // Variables used in schedule.js
      const CHANNELS = {{channels|safe}};

      {% inline_file "/static/js/notifications.min.js" %}
      {% inline_file "/static/js/schedule-page.min.js" %}
    })();
  </script>
{% endblock %}
