{% extends "_base.html" %}

{% block css %}
  <link rel="stylesheet" href="/static/css/forms.css?v={{app_version}}">
  <style>
    th, td { padding: 4px; }
    input[type="submit"] { margin: 20px; }
  </style>
{% endblock %}

{% block subheader %}
<div id="subheader">
  <h2>User preferences</h2>
</div>
{% endblock %}

{% block content %}
<section>
  <form name="user_pref_form" method="POST" action="{{current_path}}">
    <input type="hidden" name="token" value="{{xsrf_token}}">
    <table cellspacing=6>
      {{ user_pref_form }}
    </table>
    <input type="submit" value="Submit">
  </form>
</section>
{% endblock %}

{% block js %}
<script nonce="{{nonce}}">
  document.body.classList.remove('loading');

  {% if recently_saved %}
    const toastEl = document.querySelector('chromedash-toast');
    setTimeout(() => {toastEl.showMessage('Settings saved')}, 500);
  {% endif %}

</script>
{% endblock %}
