{% extends "_base.html" %}
{% load inline_file %}

{% block css %}
  <style>{% inline_file "/static/css/upcoming.css" %}</style>
{% endblock %}

{% block subheader %}
  <div id="subheader">
    <!--<h2>Chrome release timeline</h2>-->
    <div style="flex:1">
      <h3>Release timeline</h3>
      <!-- p class="description">Please note, all dates are estimates and are subject to change.</p -->
    </div>
    <!-- <paper-toggle-button> doesn't working here. Related links:
      https://github.com/PolymerElements/paper-toggle-button/pull/132 -->
    <label><input type="checkbox" class="show-blink-checkbox">Show Shipping Type</label>
  </div>
{% endblock %}

{% block content %}
  <section id="releases-section">
    <div class="timeline-controls">
      <button id="previous-button" aria-label="Button to move to previous release">Previous</button>
      <button id="next-button" aria-label="Button to move to later release">Next</button>
    </div>

    <chromedash-upcoming class="animate"
      {% if user %}signedin{% endif %}
      {# TODO(jrobbins): Fix to work with google sign-in #}
      loginurl="#"
      aria-label="List of milestone releases"
    ></chromedash-upcoming>

    <div class="timeline-controls">
      
    </div>
  </section>
{% endblock %}

{% block js %}
  <script nonce="{{nonce}}">
    (function() {
      'use strict';

      {% inline_file "/static/js/upcoming-page.min.js" %}
    })();
  </script>
{% endblock %}
