<section id="context">
  <div>
    <b>Updated</b> feature entry:<br/>
    <a class="feature-name" href="{{SITE_URL}}feature/{{id}}"
          >{{feature.name}}</a>
  </div>
</section>
<br/>


<section id="details">
  <div><b>Updates made by {{updater_email}}:</b></div>
  <ul>
    {{formatted_changes|safe}}
  </ul>
</section>


<section id="next-steps">
  <div><b>Your next steps:</b></div>
  <div><a href="{{SITE_URL}}feature/{{id}}"
     class="button-like"
     >View feature details</a></div>
</section>
