<p>
  {{feature.updated_by}} updated this feature:
</p>

<p>
  <b><a href="https://www.chromestatus.com/feature/{id}">{{feature.name}}</a></b>
</p>

<p><b>Milestone</b>: {{milestone}}</p>
<p><b>Components</b>: {{feature.blink_components|join:", "}}</p>
<p><b>Implementation status</b>: {{status}}</p>

<p>Changes:</p>
<ul>
{{formatted_changes|safe}}
</ul>

<hr>

<p>Next steps:</p>
<ul>
  <li>Check existing
    <a href="https://github.com/GoogleChrome/lighthouse/tree/master/lighthouse-core/audits"
       >Lighthouse audits</a> for correctness.</li>

{% if moz_link_urls %}
  <li>Review the following MDN pages and
    <a href="https://docs.google.com/document/d/10jDTZeW914ahqWfxwm9_WXJWvyAKT6EcDIlbI3w0BKY/edit#heading=h.frumfipthu7"
       >subscribe to updates</a> for them.
    <ul>
      {% for url in moz_link_urls %}
        <li>{{url}}</li>
      {% endfor %}
    </ul>
  </li>
{% endif %}

</ul>
