{% extends "_base.html" %}
{% block page_title %}{{ feature.name }} - {% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/forms.css?v={{app_version}}">
{% endblock %}

{% block content %}

<chromedash-guide-edit-page
  featureId="{{ feature_id }}">
</chromedash-guide-edit-page>

<chromedash-guide-metadata
  featureId="{{ feature_id }}"
  overviewForm="{% filter force_escape %} {{ overview_form }} {% endfilter %}">
</chromedash-guide-metadata>

<section style="margin: 1em 0 1em 0; max-width: 67em">
  <chromedash-process-overview
    feature="{{ feature_json }}"
    process="{{ process_json }}"
    progress="{{ progress_so_far }}"
    dismissedcues="{{ user.dismissed_cues }}">
  </chromedash-process-overview>
</section>

<section style="margin: 1em 0 1em 0">
  Please see the
 <a href="https://www.chromium.org/blink/launching-features"
    target="_blank" rel="noopener">Launching features</a>
 page for process instructions.
</section>

{% endblock %}
