<section id="metadata">

  <div id="metadata-readonly">
    <div style="margin-bottom: 1em">
        <div style="float: right">
          <button id="open-metadata" style="float: right">Edit</button>
          {% if user.is_admin %}
            <div><button id="delete-feature"
                    data-id="{{ feature_id }}"
                    class="delete-button"
                    >Delete</button></div>
          {% endif %}
        </div>
      <div style="width:60em">{{ feature.summary }}</div>
    </div>
    <div>Category: {{ feature.category }}</div>
    {% if feature.unlisted %}
    <div>This feature is only shown in the feature list
         to users who with edit access.</div>
    {% endif %}
    <div>Owners: 
      {% for owner in feature.owner %}
        <a href="mailto:{{ owner }}">{{ owner }}</a>
      {% endfor %}
    </div>
    <div>Feature type: {{ feature.feature_type }}</div>
    <div>Feature stage: {{ feature.intent_stage }}</div>
    <div>Blink components: {{ feature.blink_components | join:', ' }}</div>
    <div>Tracking bug:
      {% if feature.bug_url %}
        <a href="{{ feature.bug_url }}">{{ feature.bug_url }}</a>
      {% else %}
        None
      {% endif %}
    </div>
    <div>Launch bug:
      {% if feature.launch_bug_url %}
        <a href="{{ feature.launch_bug_url }}">{{ feature.launch_bug_url }}</a>
      {% else %}
        None
      {% endif %}
    </div>
    <div>Status in Chromium: {{ feature.impl_status_chrome }}</div>
    <div>Search tags: {{ feature.search_tags | join:', ' }}</div>
  </div>

  <div id="metadata-editing" style="display:none">
    <form name="overview_form" method="POST" action="/guide/stage/{{ feature_id }}/0">
      <table>
        {{ overview_form }}

        <tr>
          <th></th>
          <td>
            <input class="button" type="submit" value="Submit">
            <button id="close-metadata">Cancel</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</section>
