<section id="metadata">

  <div id="metadata-readonly">
    <div style="margin-bottom: 1em">
        <div id="metadata-buttons" style="float: right">
          <a id="open-metadata">Edit</a>
          {% if user.is_admin %}
            <div><a id="delete-feature"
                    data-id="{{ feature_id }}"
                    class="delete-button"
                    >Delete</a></div>
          {% endif %}
        </div>
        <div style="width:60em">{{ feature.summary }}</div>
    </div>

    <table>
      <tr>
        <td>

    <table class="property-sheet">
      <tr>
        <th>Owners</th>
        <td>
          {% for owner in feature.owner %}
            <a href="mailto:{{ owner }}">{{ owner }}</a>
          {% endfor %}
        </td>
      </tr>

      <tr>
        <th>Blink components</th>
        <td>{{ feature.blink_components | join:', ' }}</td>
      </tr>

      <tr>
        <th>Category</th>
        <td>{{ feature.category }}</td>
      </tr>

      <tr>
        <th>Feature type</th>
        <td>{{ feature.feature_type }}</td>
      </tr>

      <tr>
        <th>Feature stage</th>
        <td>{{ feature.intent_stage }}</td>
      </tr>
    </table>

        </td>
        <td>

    <table class="property-sheet">
      <tr>
        <th>Tracking bug</th>
        <td>
          {% if feature.bug_url %}
            <a href="{{ feature.bug_url }}">{{ feature.bug_url }}</a>
          {% else %}
            None
          {% endif %}
         </td>
      </tr>

      <tr>
        <th>Launch bug</th>
        <td>
          {% if feature.launch_bug_url %}
            <a href="{{ feature.launch_bug_url }}">{{ feature.launch_bug_url }}</a>
          {% else %}
            None
          {% endif %}
        </td>
      </tr>

      <tr>
        <th>Status in Chromium</th>
        <td>{{ feature.impl_status_chrome }}</td>
      </tr>

      <tr>
        <th>Search tags</th>
        <td>{{ feature.search_tags | join:', ' }}</td>
      </tr>

    </table>

    </td></tr></table>

    {% if feature.unlisted %}
      <div style="padding: 8px">
        This feature is only shown in the feature list
        to users who with edit access.
      </div>
    {% endif %}

  </div>

  <div id="metadata-editing" style="display:none">
    <form name="overview_form" method="POST" action="/guide/stage/{{ feature_id }}/0">
      <table>
        {{ overview_form }}

        <tr>
          <th></th>
          <td>
            <input class="button" type="submit" value="Submit">
            <button id="close-metadata">Cancel</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</section>
