{% extends "_base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/forms.css?v={{app_version}}">

{% comment %}
 The following style is a workaround to better support radio buttons
 without sl-radio which does not yet do validation.
 We do depend on sl-focus-ring being defined.
{% endcomment %}
<style>
table td label input[type=radio]:focus {
  box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-input-focus-ring-color);
}

.choices label {
  font-weight: bold;
}
.choices div {
  margin-top: 1em;
}
.choices p {
  margin: .5em 1.5em 1em;
}
</style>
{% endblock %}

{% block drawer %}

{% endblock %}

{% block subheader %}
<div id="subheader" style="display:block">
  <span style="float:right; margin-right: 2em">
  <a href="https://github.com/GoogleChrome/chromium-dashboard/issues/new?labels=Feedback&amp;template=process-and-guide-ux-feedback.md"
     target="_blank" rel="noopener">Process and UI feedback</a></span>
  <h2>Add a feature</h2>
</div>
{% endblock %}

{% block content %}

<section id="stage_form">
  <form name="overview_form" method="POST" action="{{ current_path }}">
    <input type="hidden" name="token" value="{{xsrf_token}}">
    <chromedash-form-table>

      <chromedash-form-field>
        <span slot="help">
          Please see the
          <a href="https://www.chromium.org/blink/launching-features"
             target="_blank" rel="noopener">Launching features</a>
          page for process instructions.
        </span>
      </chromedash-form-field>

      {{ overview_form }}

      <chromedash-form-field name="feature_type">
        <span slot="field" class="choices">

            <label for="id_feature_type_0">
              <input id="id_feature_type_0" name="feature_type" type="radio"
                     value="0" required>
              New feature incubation
            </label>

            <p>When building new features, we follow a
              process that emphasizes engagement with the WICG and other
              stakeholders early.</p>

            <label for="id_feature_type_1">
              <input id="id_feature_type_1" name="feature_type" type="radio"
                     value="1" required>
              Existing feature implementation
            </label>

            <p>If there is already an agreed specification, work may
              quickly start on implementation and origin trials.</p>

            <label for="id_feature_type_2">
              <input id="id_feature_type_2" name="feature_type" type="radio"
                     value="2" required>
              Web developer-facing change to existing code
            </label>

            <p>Sometimes a change to a shipped feature requires an additional
              feature entry.  This type of feature entry can be referenced
              from a PSA immediately.</p>

            <label for="id_feature_type_3">
              <input id="id_feature_type_3" name="feature_type" type="radio"
                     value="3" required>
              Feature deprecation
            </label>

            <p>Deprecate and remove an old feature.</p>

        </span>
      </chromedash-form-field>

      <chromedash-form-field>
        <span slot="field"> 
          {% comment %} <sl-button type="submit" class="primary" variant="primary" size="small">Submit</sl-button> {% endcomment %}
          <input type="submit" class="primary" value="Submit">
        </span>
      </chromedash-form-field>

    </chromedash-form-table>
  </form>
</section>

{% endblock %}

{% block js %}
<script src="/static/js/admin/process_overview_form.min.js?v={{app_version}}"
        nonce="{{nonce}}"></script>
{% endblock %}
