{% extends "_base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/forms.css">
<link rel="stylesheet" href="/static/css/guide.css">
{% endblock %}

{% block subheader %}
<div id="subheader">
  <h2 id="breadcrumbs">
    <a href="/guide/edit/{{ feature_id }}">
      <iron-icon icon="chromestatus:arrow-back"></iron-icon>
      Edit feature: {{ feature.name }}
    </a>
  </h2>
</div>
<h3>{{ stage_name }}</h3>
{% endblock %}

{% block content %}
<section id="stage_form">
  <form name="feature_form" method="POST" action="{{current_path}}">
    <table>
      {{ feature_form }}

      <tr>
        <th>Process stage:</th>
        <td>
          <!-- TODO(jrobbins): Auto-check based on conditions. -->
          <input type="checkbox" name="set_stage"
                 id="set_stage">
          <label for="set_stage">
            Set to: <b>{{ stage_name }}</b>
            <br>
            <span class="helptext">
              Check this box to move this feature to this
              phase in the process. Leave it unchecked if you are adding
              draft information or revising a previous stage.
            </span>
          </label>
        </td>
      </tr>
      <tr>
        <th></th>
        <td>
          <input class="button" type="submit" value="Submit">
          <button id="cancel-button" data-id="{{ feature_id }}">Cancel</button>
        </td>
      </tr>
    </table>
  </form>
</section>

{% endblock %}

{% block js %}
<script src="/static/js/admin/feature_form.min.js"></script>
{% endblock %}
