{% extends "_base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/forms.css">
<style>
.delete-button {
  margin-left: 20px;
}
</style>
{% endblock %}

{% block subheader %}
<div id="subheader">
  <h2>Edit feature: {{ feature.name }}</h2>
  <h3>{{ stage_name }}</h3>
</div>
{% endblock %}

{% block content %}
<section>
  <form name="feature_form" method="POST" action="{{current_path}}">
    <table>
      {{ feature_form }}

      <tr>
        <th>Set process stage</th>
        <td>
          <!-- TODO(jrobbins): redo this to be driven by process definition. -->
          <input type="checkbox" name="set_stage"
                 id="set_stage" checked="checked">
          <label for="set_stage">Advance the intent stage to Prototype</label>
        </td>
      </tr>
    </table>

    <input class="button" type="submit" value="Submit">
    <button id="cancel-button" data-id="{{ feature_id }}">Cancel</button>
  </form>
</section>

{% endblock %}

{% block js %}
<script src="/static/js/admin/feature_form.min.js"></script>
{% endblock %}
