{% extends "_base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/forms.css">
<style>
.delete-button {
  margin-left: 20px;
}
</style>
{% endblock %}

{% block subheader %}
<div id="subheader">
  <h2>Edit feature: {{ feature.name }}</h2>
</div>
<h3>{{ stage_name }}</h3>
{% endblock %}

{% block content %}
<section id="stage_form">
  <form name="feature_form" method="POST" action="{{current_path}}">
    <table>
      {{ feature_form }}

      <tr>
        <th>Process stage:</th>
        <td>
          {% if already_on_this_stage %}
            This feature is already in stage <b>{{ stage_name }}</b>.
          {% else %}
            <input type="checkbox" name="set_stage"
                   id="set_stage">
            <label for="set_stage">
              Set to: <b>{{ stage_name }}</b>
              <br>
              <span class="helptext">
                Check this box to move this feature to this
                phase in the process. Leave it unchecked if you are adding
                draft information or revising a previous stage.
              </span>
            </label>
          {% endif %}
        </td>
      </tr>
      <tr>
        <th></th>
        <td>
          <input class="button" type="submit" value="Submit">
          <button id="cancel-button" data-id="{{ feature_id }}">Cancel</button>
        </td>
      </tr>
    </table>
  </form>
</section>

{% endblock %}

{% block js %}
<script src="/static/js/admin/feature_form.min.js"></script>
{% endblock %}
