{% extends "base.html" %}
{% load inline_file %}

{% block css %}
<!-- <link rel="stylesheet" href="/static/css/metrics/metrics.css"> -->
<style>{% inline_file "/static/css/metrics/metrics.css" %}</style>
{% endblock %}

{% block preload %}
<script type="module" src="/static/elements/metrics-imports.js"></script>
{% endblock %}

{% block html_imports %}
{% endblock %}

{% block drawer %}
  {% include "metrics/feature/_nav.html" %}
{% endblock %}

{% block subheader %}
<div id="subheader">
  <h2>HTML &amp; JavaScript usage &gt; all features > timeline</h2>
</div>
{% endblock %}

{% block content %}
<div class="data-panel">
  <p class="description">To begin, select a feature in the dropdown below.</p>
  <chromedash-timeline
      type="feature" view="popularity"
      title="Percentage of page views that use this feature"
      {% if not prod %}use-remote-data{% endif %}></chromedash-timeline>
</div>
{% endblock %}

{% block js %}
<script>
document.addEventListener('WebComponentsReady', function(e) {
  var timeline = $('chromedash-timeline');
  timeline.props = {{FEATUREOBSERVER_BUCKETS|safe}};
  document.body.classList.remove('loading');

  window.addEventListener('popstate', function(e) {
    if (e.state) {
      timeline.selectedBucketId = e.state.id;
    }
  });
});
</script>
{% endblock %}
