{% extends "_base.html" %}
{% load inline_file %}

{% block css %}
  <style>{% inline_file "/static/css/metrics.css" %}</style>
{% endblock %}

{% block preload %}
<script src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block drawer %}
  {% include "metrics/feature/_feature_metric_nav.html" %}
{% endblock %}

{% block horizontalsubnav %}
<nav class="data-panel">
  View As:<a href="/metrics/feature/timeline/popularity" class="sub-nav-links">Timeline</a> |
  <a href="/metrics/feature/popularity"  class="sub-nav-links">Stack Rank</a>
</nav>
{% endblock %}

{% block subheader %}
<div id="subheader">
  <h2>HTML &amp; JavaScript usage &gt; all features > timeline</h2>
</div>
{% endblock %}

{% block content %}
<div class="data-panel">
  <p class="description">To begin, select a feature in the dropdown below.</p>
  <chromedash-timeline
      type="feature" view="popularity"
      title="Percentage of page views that use this feature"
      ></chromedash-timeline>
</div>
{% endblock %}

{% block js %}
<script nonce="{{nonce}}">
  (function() {
    'use strict';
    // Get values from server. used in /static/js/metrics-timeline-page.js
    const DATA = {{FEATUREOBSERVER_BUCKETS|safe}};
    {% inline_file "/static/js/metrics-timeline-page.min.js" %}
  })();
</script>
{% endblock %}
