{% extends "base.html" %}
{% load verbatim %}

{% block css %}
<link rel="stylesheet" href="/static/css/metrics/metrics.css">
{% endblock %}

{% block preload %}
  {% if VULCANIZE %}
    <link rel="preload" href="/static/elements/metrics-imports.vulcanize.js" as="script">
  {% endif %}
{% endblock %}

{% block html_imports %}
  <link rel="import" href="/static/elements/metrics-imports{% if VULCANIZE %}.vulcanize{% endif %}.html">
{% endblock %}

{% block js %}
{% endblock %}

{% block drawer %}
  {% include "metrics/_nav.html" %}
{% endblock %}

{% block subheader %}
<div id="subheader">
  <h2>HTML &amp; JavaScript usage &gt; all features > timeline</h2>
</div>
{% endblock %}

{% block content %}
<div class="data-panel">
  <p class="description">Use of HTML/JS features over time.</p>
  <chromedash-feature-timeline type="feature" view="popularity" title="Percentage of pages surveyed that use this feature"></chromedash-feature-timeline>
</div>

<script>
document.addEventListener('WebComponentsReady', function(e) {
  var timeline = $('chromedash-feature-timeline');
  timeline.props = {{FEATUREOBSERVER_BUCKETS|safe}};

  window.addEventListener('popstate', function(e) {
    if (e.state) {
      timeline.selectedBucketId = e.state.id;
    }
  });
});
</script>
{% endblock %}
