name: Continuous Integration
# Needed for gcloud because as of Nov 2022, gcloud only supports python 3.5-3.9
# https://cloud.google.com/sdk/docs/install#supported_python_versions
# https://github.com/google-github-actions/setup-gcloud/issues/381#issuecomment-955631107
# ubuntu-latest comes with python3.8 (for now). As a result, we can tell gcloud to use that.
env:
 CLOUDSDK_PYTHON: python3.8
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  python_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18.x'

      - name: set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: pre-installation
        run: |
          # Remove existing google-cloud-sdk packages in Ubuntu.
          sudo rm -rf /usr/lib/google-cloud-sdk
          curl https://dl.google.com/dl/cloudsdk/channels/rapid/downloads/google-cloud-cli-410.0.0-linux-x86_64.tar.gz | tar -zx > /dev/null
          # Substitute the downloaded google-cloud-sdk packages, due to https://stackoverflow.com/questions/42697026/install-google-cloud-components-error-from-gcloud-command.
          sudo mv google-cloud-sdk /usr/lib/
          sudo gcloud components update
          sudo gcloud components install app-engine-python beta cloud-datastore-emulator app-engine-python-extras
          gcloud config set project cr-status-staging
          gcloud version

      - name: installation
        run: |
          npm install -g gulp
          npm ci
          npm run deps

      - name: lint
        run: npm run lint

      - name: mypy
        run: mypy --ignore-missing-imports --exclude cs-env/ --exclude appengine_config.py .

      - name: test
        run: npm test

      - name: build
        run: npm run build
