name: Continuous Integration
env:
 CLOUDSDK_PYTHON: python3.13
on:
  pull_request:
  merge_group:

jobs:
  python_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'

      - name: set up Java JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: pre-installation
        run: |
          # Remove existing google-cloud-sdk packages in Ubuntu.
          sudo rm -rf /usr/lib/google-cloud-sdk
          curl https://dl.google.com/dl/cloudsdk/channels/rapid/downloads/google-cloud-sdk-497.0.0-linux-x86_64.tar.gz | tar -zx > /dev/null
          # Substitute the downloaded google-cloud-sdk packages, due to https://stackoverflow.com/questions/42697026/install-google-cloud-components-error-from-gcloud-command.
          sudo mv google-cloud-sdk /usr/lib/
          sudo gcloud components update
          sudo gcloud components install app-engine-python beta cloud-datastore-emulator app-engine-python-extras
          gcloud config set project cr-status-staging
          gcloud version

      - name: installation
        run: |
          npm install -g gulp
          npm config set script-shell bash --global
          npm run setup

      - name: lint
        run: npm run lint

      - name: mypy
        run: npm run mypy

      - name: test
        run: npm test

      - name: build
        run: npm run build
