name: Continuous Integration Web Tests
env:
 CLOUDSDK_PYTHON: python3.13
on:
  pull_request:
  merge_group:

jobs:
  web_tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
        # TODO: Add 14.x, 16.x.
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: pre-installation
        run: |
          # Remove existing google-cloud-sdk packages in Ubuntu.
          sudo rm -rf /usr/lib/google-cloud-sdk
          curl https://dl.google.com/dl/cloudsdk/channels/rapid/downloads/google-cloud-sdk-410.0.0-linux-x86_64.tar.gz | tar -zx > /dev/null
          # Substitute the downloaded google-cloud-sdk packages, due to https://stackoverflow.com/questions/42697026/install-google-cloud-components-error-from-gcloud-command.
          sudo mv google-cloud-sdk /usr/lib/
          sudo gcloud components update
          sudo gcloud components install app-engine-python beta cloud-datastore-emulator app-engine-python-extras
          gcloud config set project cr-status-staging
          gcloud version

      - name: installation
        run: |
          npm install -g gulp

      - run: npm config set script-shell bash --global
      - run: npm run setup
      - name: Install playwright browsers
        run: npx playwright install --with-deps
      - run: npm run build --if-present

      - name: Run web test runner
        run: npm run webtest
