<p>Email to</p>
<div class="subject">
  blink-dev@chromium.org
</div>

<p>Subject</p>
<div class="subject">
  {{subject_prefix}}:
  {{feature.name}}
</div>

{#
  Insted of vertical margins, <br> elements are used to create line breaks
  that can be copied and pasted into a text editor.
#}

<p>Body
  <span class="tooltip copy-text" style="float:right"
        title="Copy text to clipboard">
      <a href="#" data-tooltip>
        <iron-icon icon="chromestatus:content_copy"
                   id="copy-email-body"></iron-icon>
      </a>
  </span>
</p>

<div class="email">

  <h4>Contact emails</h4>
  {% if not feature.browsers.chrome.owners %}None{% endif %}
  {% for owner in feature.browsers.chrome.owners %}
    <a href="mailto:{{owner}}">{% if loop.last %}{{owner}}</a>{% else %}{{owner}}</a>,{% endif %}
  {% endfor %}

  {% if feature.explainer_links or feature.feature_type_int != 2 %}
    <br><br><h4>Explainer</h4>
    {% if not feature.explainer_links %}None{% endif %}
    {% for link in feature.explainer_links %}
      {% if loop.index0 %}<br>{% endif %}<a href="{{link}}">{{link}}</a>
    {% endfor %}
  {% endif %}

  <br><br><h4>Specification</h4>
  {{feature.standards.spec|urlize}}

  {% if feature.resources and feature.resources.docs %}
    <br><br><h4>Design docs</h4>
    {% for link in feature.resources.docs %}
      <br><a href="{{link}}">{{link}}</a>
    {% endfor %}
  {% endif %}

  <br><br><h4>Summary</h4>
  <p class="preformatted">{{ feature.summary | urlize }}</p>

  <br><br><h4>Blink component</h4>
  {% for c in feature.browsers.chrome.blink_components %}
    <a href="https://bugs.chromium.org/p/chromium/issues/list?q=component:{{c}}" target="_blank" rel="noopener">{{c}}</a>
  {% endfor %}

  {% if 'motivation' in sections_to_show %}
    <br><br><h4>Motivation</h4>
    <p class="preformatted">{{feature.motivation|urlize}}</p>

    <br><br><h4>Initial public proposal</h4>
    {{feature.initial_public_proposal_url|urlize}}
  {% endif %}

  {% if feature.tags %}
    <br><br><h4>Search tags</h4>
    {% for tag in feature.tags %}
      <a href="/features#tags:{{tag}}">{{tag}}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}

  {% endif %}

  <br><br><h4>TAG review</h4>
  {{feature.tag_review|urlize}}

  {% if feature.tag_review_status %}
    <br><br><h4>TAG review status</h4>
    {{feature.tag_review_status}}
  {% endif %}

  {% for stage in stage_info.ot_stages %}
    {% if stage.ot_chromium_trial_name %}
      <br><br><h4>Chromium Trial Name</h4>
      {{stage.ot_chromium_trial_name}}

    {% endif %}{% if stage.origin_trial_feedback_url %}
      <br><br><h4>Link to origin trial feedback summary</h4>
      {{stage.origin_trial_feedback_url}}

    {% endif %}{% if stage.ot_documentation_url %}
      <br><br><h4>Origin Trial documentation link</h4>
      {{stage.ot_documentation_url}}

    {% endif %}{% if stage.ot_webfeature_use_counter %}
      <br><br><h4>WebFeature UseCounter name</h4>
      {{stage.ot_webfeature_use_counter}}

    {% endif %}
  {% endfor %}
  <br><br><h4>Risks</h4>
  <div style="margin-left: 4em;">
    <br><br><h4>Interoperability and Compatibility</h4>
    <p class="preformatted">{{feature.interop_compat_risks|urlize}}</p>

    <br><br><i>Gecko</i>: {{feature.browsers.ff.view.text}}
    {% if feature.browsers.ff.view.url %}
      (<a href="{{feature.browsers.ff.view.url}}">{{feature.browsers.ff.view.url}}</a>)
    {% endif %}
    {% if feature.browsers.ff.view.notes %}
     {{feature.browsers.ff.view.notes|urlize}}
    {% endif %}

    <br><br><i>WebKit</i>: {{feature.browsers.safari.view.text}}
    {% if feature.browsers.safari.view.url %}
      (<a href="{{feature.browsers.safari.view.url}}">{{feature.browsers.safari.view.url}}</a>)
    {% endif %}
    {% if feature.browsers.safari.view.notes %}
     {{feature.browsers.safari.view.notes|urlize}}
    {% endif %}

    <br><br><i>Web developers</i>: {{feature.browsers.webdev.view.text}}
    {% if feature.browsers.webdev.view.url %}
      (<a href="{{feature.browsers.webdev.view.url}}">{{feature.browsers.webdev.view.url}}</a>)
    {% endif %}
    {% if feature.browsers.webdev.view.notes %}
      {{feature.browsers.webdev.view.notes|urlize}}
    {% endif %}

    <br><br><i>Other signals</i>:
    {% if feature.browsers.other.view.notes %}
      {{feature.browsers.other.view.notes|urlize}}
    {% endif %}

    {% if feature.ergonomics_risks %}
      <br><br><h4>Ergonomics</h4>
      <p class="preformatted">{{feature.ergonomics_risks|urlize}}</p>
    {% endif %}

    {% if feature.activation_risks %}
      <br><br><h4>Activation</h4>
      <p class="preformatted">{{feature.activation_risks|urlize}}</p>
    {% endif %}

    {% if feature.security_risks %}
      <br><br><h4>Security</h4>
      <p class="preformatted">{{feature.security_risks|urlize}}</p>
    {% endif %}

    <br><br><h4>WebView application risks</h4>
    <p style="font-style: italic">
      Does this intent deprecate or change behavior of existing APIs,
      such that it has potentially high risk for Android WebView-based
      applications?</p>
    <p class="preformatted">{{feature.webview_risks|urlize}}</p>

  </div> <!-- end risks -->

{% if 'experiment' in sections_to_show %}

  <br><br><h4>Goals for experimentation</h4>
  <p class="preformatted">{{feature.experiment_goals|urlize}}</p>

  {% if feature.experiment_timeline %}
    <br><br><h4>Experimental timeline</h4>
    <p class="preformatted">{{feature.experiment_timeline|urlize}}</p>
  {% endif %}

  {% if 'extension_reason' in sections_to_show %}
    {% for stage in stage_info.extension_stages %}
      {% if stage.experiment_extension_reason %}
        <br><br><h4>Reason this experiment is being extended</h4>
        <p class="preformatted">{{stage.experiment_extension_reason|urlize}}</p>
      {% endif %}
    {% endfor %}
  {% endif %}

  <br><br><h4>Ongoing technical constraints</h4>
  <p class="preformatted">{{feature.ongoing_constraints|urlize}}</p>

{% endif %}

<br><br><h4>Debuggability</h4>
<p class="preformatted">{{feature.debuggability|urlize}}</p>

{% if 'experiment' in sections_to_show or 'ship' in sections_to_show %}
  <br><br><h4>Will this feature be supported on all six Blink platforms
      (Windows, Mac, Linux, ChromeOS, Android, and Android WebView)?</h4>
  {% if feature.all_platforms %}Yes{% else %}No{% endif %}
  {% if feature.all_platforms_descr %}
    <p class="preformatted">{{feature.all_platforms_descr|urlize}}</p>
  {% endif %}
{% endif %}

<br><br><h4>Is this feature fully tested by <a href="https://chromium.googlesource.com/chromium/src/+/main/docs/testing/web_platform_tests.md">web-platform-tests</a>?</h4>
{% if feature.wpt %}Yes{% else %}No{% endif %}
{% if feature.wpt_descr %}
  <p class="preformatted">{{feature.wpt_descr|urlize}}</p>
{% endif %}

{% if feature.devtrial_instructions %}
  <br><br><h4>DevTrial instructions</h4>
  <a href="{{feature.devtrial_instructions}}"
     >{{feature.devtrial_instructions}}</a>
{% endif %}

<br><br><h4>Flag name on chrome://flags</h4>
{{feature.flag_name}}

<br><br><h4>Finch feature name</h4>
{{feature.finch_name}}

{% if feature.non_finch_justification %}
  <br><br><h4>Non-finch justification</h4>
  <p class="preformatted">{{feature.non_finch_justification|urlize}}</p>
{% else %}
  {% if not feature.finch_name %}
    <br><br><h4>Non-finch justification</h4>
    None
  {% endif %}
{% endif %}



<br><br><h4>Requires code in //chrome?</h4>
{{feature.requires_embedder_support}}

{% if feature.browsers.chrome.bug %}
  <br><br><h4>Tracking bug</h4>
  <a href="{{feature.browsers.chrome.bug}}">{{feature.browsers.chrome.bug}}</a>
{% endif %}

{% if feature.launch_bug_url %}
  <br><br><h4>Launch bug</h4>
  <a href="{{feature.launch_bug_url}}">{{feature.launch_bug_url}}</a>
{% endif %}

{% if feature.measurement %}
  <br><br><h4>Measurement</h4>
  {{feature.measurement|urlize}}
{% endif %}

{% if feature.availability_expectation %}
  <br><br><h4>Availability expectation</h4>
  {{feature.availability_expectation|urlize}}
{% endif %}

{% if feature.adoption_expectation %}
  <br><br><h4>Adoption expectation</h4>
  {{feature.adoption_expectation|urlize}}
{% endif %}

{% if feature.adoption_plan %}
  <br><br><h4>Adoption plan</h4>
  {{feature.adoption_plan|urlize}}
{% endif %}

{% if feature.non_oss_deps %}
  <br><br><h4>Non-OSS dependencies</h4>
  <p style="font-style: italic">
    Does the feature depend on any code or APIs outside the Chromium
    open source repository and its open-source dependencies to
    function?</p>

  {{feature.non_oss_deps|urlize}}
{% endif %}


{% if 'sample_links' in sections_to_show %}
   {% if feature.resources and feature.resources.samples %}
     <br><br><h4>Sample links</h4>
     {% for link in feature.resources.samples %}
       <br><a href="{{link}}">{{link}}</a>
     {% endfor %}
   {% endif %}
{% endif %}


<br><br><h4>Estimated milestones</h4>
{% include "estimated-milestones-table.html" %}


{% if 'anticipated_spec_changes' in sections_to_show or feature.anticipated_spec_changes %}
  <br><br><h4>Anticipated spec changes</h4>
  <p style="font-style: italic">
    Open questions about a feature may be a source of future web compat or
    interop issues. Please list open issues (e.g. links to known github
    issues in the project for the feature specification) whose resolution
    may introduce web compat/interop risk (e.g., changing to naming or
    structure of the API in a non-backward-compatible way).</p>

  {{feature.anticipated_spec_changes|urlize}}
{% endif %}

<br><br><h4>Link to entry on the {{APP_TITLE}}</h4>
<a href="{{default_url}}">{{default_url}}</a>


{% if should_render_intents %}
  <br><br><h4>Links to previous Intent discussions</h4>

  {% for stage in stage_info.proto_stages %}{% if stage.intent_thread_url %}
      Intent to Prototype: {{stage.intent_thread_url|urlize}}
      <br>

  {% endif %}{% endfor %}
  {% for stage in stage_info.dt_stages %}{% if stage.announcement_url %}
      Ready for Trial: {{stage.announcement_url|urlize}}
      <br>

  {% endif %}{% endfor %}
  {% for stage in stage_info.ot_stages %}{% if stage.intent_thread_url %}
      Intent to Experiment: {{stage.intent_thread_url|urlize}}
      <br>

  {% endif %}{% endfor %}
  {% for stage in stage_info.extension_stages %}
    {% if stage.intent_thread_url %}
      Intent to Extend Experiment {{loop.index}}: {{stage.intent_thread_url|urlize}}
      <br>

  {% endif %}{% endfor %}
  {% for stage in stage_info.ship_stages %}{% if stage.intent_thread_url %}
      Intent to Ship: {{stage.intent_thread_url|urlize}}
      <br>

  {% endif %}{% endfor %}
{% endif %}



<br><br><div><small>
  This intent message was generated by
  <a href="https://chromestatus.com">Chrome Platform Status</a>.
</small></div>

</div> <!-- end email body div -->
