<p>Subject</p>
<div class="subject">
  {{subject_prefix}}:
  {{feature.name}}
</div>

{% comment %}
  Insted of vertical margins, <br> elements are used to create line breaks
  that can be copied and pasted into a text editor.
{% endcomment %}

<p>Body</p>
<div class="email">

  <h4>Contact emails</h4>
  {% if not feature.owner %}None{% endif %}
  {% for owner in feature.owner %}
    <a href="mailto:{{owner}}">{% if forloop.last %}{{owner}}</a>{% else %}{{owner}}</a>,{% endif %}
  {% endfor %}

  <br><br><h4>Explainer</h4>
  {% for link in feature.explainer_links %}
    <br><a href="{{link}}">{{link}}</a>
  {% endfor %}

  {% if feature.spec_link %}
    <br><br><h4>Specification</h4>
    <a href="{{feature.spec_link}}">{{feature.spec_link}}</a>
  {% endif %}

  {% if feature.doc_links %}
    <br><br><h4>Design docs</h4>
    {% for link in feature.doc_links %}
      <br><a href="{{link}}">{{link}}</a>
    {% endfor %}
  {% endif %}

  <br><br><h4>TAG review</h4>
  {{feature.tag_review|urlize}}

  <br><br><h4>Summary</h4>
  {{feature.summary}}


  {% if 'motivation' in sections_to_show %}
    <br><br><h4>Motivation</h4>
    {{feature.motivation|urlize}}
  {% endif %}

  {% if 'i2p_thread' in sections_to_show %}
    <br><br><h4>Link to “Intent to Prototype” blink-dev discussion</h4>
    {{feature.intent_to_implement_url}}
  {% endif %}

  {% if feature.origin_trial_feedback_url %}
    <br><br><h4>Link to origin trial feedback summary</h4>
    {{feature.origin_trial_feedback_url}}
  {% endif %}

  <br><br><h4>Risks</h4>
  <div style="margin-left: 4em;">
    <br><br><h4>Interoperability and Compatibility</h4>
    {{feature.interop_compat_risks|urlize}}

    <br><br><i>Gecko</i>: {{feature.ff_views.text}}
    {% if feature.ff_views_link %}
      (<a href="{{feature.ff_views_link}}">{{feature.ff_views_link}}</a>)
    {% endif %}
    {% if feature.ff_views_notes %}
     {{feature.ff_views_notes|urlize}}
    {% endif %}

    <br><br><i>WebKit</i>: {{feature.safari_views.text}}
    {% if feature.safari_views_link %}
      (<a href="{{feature.safari_views_link}}">{{feature.safari_views_link}}</a>)
    {% endif %}
    {% if feature.safari_views_notes %}
     {{feature.safari_views_notes|urlize}}
    {% endif %}

    <br><br><i>Web developers</i>: {{feature.web_dev_views.text}}
    {% if feature.web_dev_views_link %}
      (<a href="{{feature.web_dev_views_link}}">{{feature.web_dev_views_link}}</a>)
    {% endif %}
    {% if feature.web_dev_views_notes %}
      {{feature.web_dev_views_notes|urlize}}
    {% endif %}

    {% if feature.ergonomics_risks %}
      <br><br><h4>Ergonomics</h4>
      {{feature.ergonomics_risks|urlize}}
    {% endif %}

    {% if feature.activation_risks %}
      <br><br><h4>Activation</h4>
      {{feature.activation_risks|urlize}}
    {% endif %}

    {% if feature.security_risks %}
      <br><br><h4>Security</h4>
      {{feature.security_risks|urlize}}
    {% endif %}

  </div> <!-- end risks -->

{% if 'experiment' in sections_to_show %}

  <br><br><h4>Goals for experimentation</h4>
  {{feature.experiment_goals|urlize}}

  <br><br><h4>Experimental timeline</h4>
  {{feature.experiment_timeline|urlize}}

  {% if 'extension_reason' in sections_to_show %}
    <br><br><h4>Reason this experiment is being extended</h4>
    {{feature.experiment_extension_reason|urlize}}
  {% endif %}

  <br><br><h4>Ongoing technical constraints</h4>
  {{feature.ongoing_constraints|urlize}}

{% endif %}

{% if feature.debuggability %}
  <br><br><h4>Debuggability</h4>
  {{feature.debuggability|urlize}}
{% endif %}

<br><br><h4>Will this feature be supported on all six Blink platforms
    (Windows, Mac, Linux, Chrome OS, Android, and Android WebView)?</h4>
{% if feature.all_platforms %}Yes{% else %}No{% endif %}
{{feature.all_platforms_descr|urlize}}

<br><br><h4>Is this feature fully tested by <a href="https://chromium.googlesource.com/chromium/src/+/master/docs/testing/web_platform_tests.md">web-platform-tests</a>?</h4>
{% if feature.wpt %}Yes{% else %}No{% endif %}
{{feature.wpt_descr|urlize}}

{% if 'tracking_bug' in sections_to_show %}
  <br><br><h4>Tracking bug</h4>
  {% if feature.bug_url %}
    <a href="{{feature.bug_url}}">{{feature.bug_url}}</a>
  {% else %}
    None
  {% endif %}
{% endif %}

{% if 'demo_links' in sections_to_show %}
   {% if feature.sample_links %}
     <br><br><h4>Demo links</h4>
     {% for link in feature.sample_links %}
       <br><a href="{{link}}">{{link}}</a>
     {% endfor %}
   {% endif %}
{% endif %}

<br><br><h4>Link to entry on the {{APP_TITLE}}</h4>
<a href="{{default_url}}">{{default_url}}</a>

<br><br><div><small>
  This intent message was generated by
  <a href="https://www.chromestatus.com">Chrome Platform Status</a>.
</small></div>

</div> <!-- end email body div -->
