<p>Subject</p>
<div class="subject">
Intent to {{feature.intent_stage}}: {{feature.name}}
</div>

<p>Body</p>
<div class="email"><label>Contact emails</label>
{% if not feature.owner %}None{% endif %}{% for owner in feature.owner %}<a href="mailto:{{owner}}">{% if forloop.last %}{{owner}}</a>{% else %}{{owner}}</a>,{% endif %}{% endfor %}

<label>Explainer</label>
{% for link in feature.explainer_links %}<a href="{{link}}">{{link}}</a>
{% endfor %}
{% if feature.intent_stage == "Ship" %}<label>Spec</label>
<a href="{{feature.spec_link}}">{{feature.spec_link}}</a>
{% else %}
<label>Design docs/spec</label>{% if feature.spec_link %}
Specification: <a href="{{feature.spec_link}}">{{feature.spec_link}}</a>
{% endif %}
{% for link in feature.doc_links %}<a href="{{link}}">{{link}}</a>{% endfor %}

<label>TAG review</label>
{{feature.tag_review|urlize}}
{% endif %}
<label>Summary</label>
{{feature.summary}}
{% if feature.intent_stage == "Implement" or feature.intent_stage == "Ship" or feature.intent_stage == "Implement and Ship" %}
{% if feature.intent_stage == "Implement" or feature.intent_stage == "Implement and Ship" %}<label>Motivation</label>
{{feature.motivation|urlize}}
{% endif %}{% if feature.intent_stage == "Ship" or feature.intent_stage == "Experiment" or feature.intent_stage == "Extend Origin Trial" %}<label>Link to “Intent to Implement” blink-dev discussion</label>
{{feature.intent_to_implement_url}}
{% if feature.origin_trial_feedback_url %}
<label>Link to Origin Trial feedback summary</label>
{{feature.origin_trial_feedback_url}}
{% endif %}{% endif %}
<label>Risks</label>
<div style="margin-left: 4em;"><label>Interoperability and Compatibility</label>
{{feature.interop_compat_risks|urlize}}

<i>Firefox</i>: {{feature.ff_views.text}}{% if feature.ff_views_link %} (<a href="{{feature.ff_views_link}}">{{feature.ff_views_link}}</a>){% endif %}{% if feature.ff_views_notes %}

{{feature.ff_views_notes|urlize}}
{% endif %}
<i>Edge</i>: {{feature.ie_views.text}}{% if feature.ie_views_link %} (<a href="{{feature.ie_views_link}}">{{feature.ie_views_link}}</a>){% endif %}{% if feature.ie_views_notes %}

{{feature.ie_views_notes|urlize}}
{% endif %}
<i>Safari</i>: {{feature.safari_views.text}}{% if feature.safari_views_link %} (<a href="{{feature.safari_views_link}}">{{feature.safari_views_link}}</a>){% endif %}{% if feature.safari_views_notes %}

{{feature.safari_views_notes|urlize}}
{% endif %}
<i>Web developers</i>: {{feature.web_dev_views.text}}{% if feature.web_dev_views_link %} (<a href="{{feature.web_dev_views_link}}">{{feature.web_dev_views_link}}</a>){% endif %}{% if feature.web_dev_views_notes %}
{{feature.web_dev_views_notes|urlize}}{% endif %}
{% if feature.ergonomics_risks %}
<label>Ergonomics</label>
{{feature.ergonomics_risks|urlize}}
{% endif %}{% if feature.activation_risks %}
<label>Activation</label>
{{feature.activation_risks|urlize}}
{% endif %}{% if feature.security_risks %}
<label>Security</label>
{{feature.security_risks|urlize}}
{% endif %}</div>{% elif feature.intent_stage == "Experiment" or feature.intent_stage == "Extend Origin Trial" %}
<label>Goals for experimentation</label>
{{feature.experiment_goals|urlize}}

<label>Experimental timeline</label>
{{feature.experiment_timeline|urlize}}
{% if feature.intent_stage == "Extend Origin Trial" %}
<label>Reason this experiment is being extended</label>
{{feature.experiment_extension_reason|urlize}}
{% endif %}
<label>Ongoing technical constraints</label>
{{feature.ongoing_constraints|urlize}}
{% endif %}{% if feature.debuggability %}
<label>Debuggability</label>
{{feature.debuggability|urlize}}
{% endif %}
<label>Will this feature be supported on all six Blink platforms (Windows, Mac, Linux,
Chrome OS, Android, and Android WebView)?</label>
{% if feature.all_platforms %}Yes{% else %}No{% endif %}
{{feature.all_platforms_descr|urlize}}
<label>Is this feature fully tested by <a href="https://chromium.googlesource.com/chromium/src/+/master/docs/testing/web_platform_tests.md">web-platform-tests</a>?</label>
{% if feature.wpt %}Yes{% else %}No{% endif %}
{{feature.wpt_descr|urlize}}
{% if feature.intent_stage == "Ship" or feature.intent_stage == "Implement and Ship" %}
<label>Tracking bug</label>
{% if feature.bug_url %}<a href="{{feature.bug_url}}">{{feature.bug_url}}</a>{% else %}None{% endif %}
{% endif %}{% if feature.intent_stage == "Ship" or feature.intent_stage == "Implement and Ship" %}{% if feature.sample_links %}
<label>Demo links</label>
{% for link in feature.sample_links %}<a href="{{link}}">{{link}}</a>
{% endfor %}{% endif %}{% endif %}
<label>Link to entry on the {{APP_TITLE}}</label>
<a href="{{default_url}}">{{default_url}}</a>

</div>
